<div class='progress-msg'>Fri, 09 Oct 2020 04:48:15 +0000</div>
<div class='progress-msg'>[04:48:15] Composing titles...</div>
<div class='progress-msg'>[04:48:15] Composing parent terms...</div>
<div class='progress-msg'>[04:48:15] Composing terms slug...</div>
<div class='progress-msg'>[04:48:15] Composing duplicate indicators...</div>
<div class='progress-msg'>[04:48:15] Composing authors...</div>
<div class='progress-msg'>[04:48:15] Composing slugs...</div>
<div class='progress-msg'>[04:48:15] Composing menu order...</div>
<div class='progress-msg'>[04:48:15] Composing contents...</div>
<div class='progress-msg'>[04:48:15] Composing dates...</div>
<div class='progress-msg'>[04:48:15] Composing custom parameters...</div>
<div class='progress-msg'>[04:48:15] Composing URLs for images...</div>
<div class='progress-msg'>[04:48:15] Composing URLs for attachments files...</div>
<div class='progress-msg'>[04:48:15] Composing post comments...</div>
<div class='progress-msg'>[04:48:15] Composing unique keys...</div>
<div class='progress-msg'>[04:48:15] Processing posts...</div>
<div class='progress-msg'>[04:48:15] Data parsing via add-ons...</div>
<div class='progress-msg'>[04:48:15] ---</div>
<div class='progress-msg'>[04:48:15] Record #1</div>
<div class='progress-msg'>[04:48:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:15] Combine all data for term Hyundai...</div>
<div class='progress-msg'>[04:48:15] Find corresponding article among previously imported for post `Hyundai`...</div>
<div class='progress-msg'>[04:48:16] Duplicate post wasn't found with unique key `Hyundai`...</div>
<div class='progress-msg'>[04:48:16] Applying filter `pmxi_article_data` for `Hyundai`</div>
<div class='progress-msg'>[04:48:16] <b>CREATING</b> `Hyundai` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:17] Associate post `Hyundai` with current import ...</div>
<div class='progress-msg'>[04:48:17] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:17] <b>CREATED</b> `Hyundai` `Taxonomy Term` (ID: 10)</div>
<div class='progress-msg'>[04:48:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:17] ---</div>
<div class='progress-msg'>[04:48:17] Record #2</div>
<div class='progress-msg'>[04:48:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:17] Combine all data for term Chevrolet...</div>
<div class='progress-msg'>[04:48:17] Find corresponding article among previously imported for post `Chevrolet`...</div>
<div class='progress-msg'>[04:48:17] Duplicate post wasn't found with unique key `Chevrolet`...</div>
<div class='progress-msg'>[04:48:17] Applying filter `pmxi_article_data` for `Chevrolet`</div>
<div class='progress-msg'>[04:48:17] <b>CREATING</b> `Chevrolet` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:18] Associate post `Chevrolet` with current import ...</div>
<div class='progress-msg'>[04:48:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:18] <b>CREATED</b> `Chevrolet` `Taxonomy Term` (ID: 11)</div>
<div class='progress-msg'>[04:48:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:18] ---</div>
<div class='progress-msg'>[04:48:18] Record #3</div>
<div class='progress-msg'>[04:48:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:18] Combine all data for term Dodge...</div>
<div class='progress-msg'>[04:48:18] Find corresponding article among previously imported for post `Dodge`...</div>
<div class='progress-msg'>[04:48:18] Duplicate post wasn't found with unique key `Dodge`...</div>
<div class='progress-msg'>[04:48:18] Applying filter `pmxi_article_data` for `Dodge`</div>
<div class='progress-msg'>[04:48:18] <b>CREATING</b> `Dodge` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:19] Associate post `Dodge` with current import ...</div>
<div class='progress-msg'>[04:48:19] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:19] <b>CREATED</b> `Dodge` `Taxonomy Term` (ID: 12)</div>
<div class='progress-msg'>[04:48:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:19] ---</div>
<div class='progress-msg'>[04:48:19] Record #4</div>
<div class='progress-msg'>[04:48:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:19] Combine all data for term Hyundai...</div>
<div class='progress-msg'>[04:48:19] Find corresponding article among previously imported for post `Hyundai`...</div>
<div class='progress-msg'>[04:48:20] Duplicate post was found for post Hyundai with unique key `Hyundai`...</div>
<div class='progress-msg'>[04:48:20] Deleting images for `Hyundai`</div>
<div class='progress-msg'>[04:48:20] Applying filter `pmxi_article_data` for `Hyundai`</div>
<div class='progress-msg'>[04:48:20] <b>UPDATING</b> `Hyundai` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:20] Associate post `Hyundai` with current import ...</div>
<div class='progress-msg'>[04:48:20] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:20] <b>UPDATED</b> `Hyundai` `Taxonomy Term` (ID: 10)</div>
<div class='progress-msg'>[04:48:20] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:21] ---</div>
<div class='progress-msg'>[04:48:21] Record #5</div>
<div class='progress-msg'>[04:48:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:21] Combine all data for term Buick...</div>
<div class='progress-msg'>[04:48:21] Find corresponding article among previously imported for post `Buick`...</div>
<div class='progress-msg'>[04:48:21] Duplicate post wasn't found with unique key `Buick`...</div>
<div class='progress-msg'>[04:48:21] Applying filter `pmxi_article_data` for `Buick`</div>
<div class='progress-msg'>[04:48:21] <b>CREATING</b> `Buick` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:22] Associate post `Buick` with current import ...</div>
<div class='progress-msg'>[04:48:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:22] <b>CREATED</b> `Buick` `Taxonomy Term` (ID: 13)</div>
<div class='progress-msg'>[04:48:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:22] ---</div>
<div class='progress-msg'>[04:48:22] Record #6</div>
<div class='progress-msg'>[04:48:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:22] Combine all data for term Nissan...</div>
<div class='progress-msg'>[04:48:22] Find corresponding article among previously imported for post `Nissan`...</div>
<div class='progress-msg'>[04:48:22] Duplicate post wasn't found with unique key `Nissan`...</div>
<div class='progress-msg'>[04:48:22] Applying filter `pmxi_article_data` for `Nissan`</div>
<div class='progress-msg'>[04:48:22] <b>CREATING</b> `Nissan` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:23] Associate post `Nissan` with current import ...</div>
<div class='progress-msg'>[04:48:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:23] <b>CREATED</b> `Nissan` `Taxonomy Term` (ID: 14)</div>
<div class='progress-msg'>[04:48:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:23] ---</div>
<div class='progress-msg'>[04:48:23] Record #7</div>
<div class='progress-msg'>[04:48:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:23] Combine all data for term Volkswagen...</div>
<div class='progress-msg'>[04:48:23] Find corresponding article among previously imported for post `Volkswagen`...</div>
<div class='progress-msg'>[04:48:23] Duplicate post wasn't found with unique key `Volkswagen`...</div>
<div class='progress-msg'>[04:48:23] Applying filter `pmxi_article_data` for `Volkswagen`</div>
<div class='progress-msg'>[04:48:23] <b>CREATING</b> `Volkswagen` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:24] Associate post `Volkswagen` with current import ...</div>
<div class='progress-msg'>[04:48:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:24] <b>CREATED</b> `Volkswagen` `Taxonomy Term` (ID: 15)</div>
<div class='progress-msg'>[04:48:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:24] ---</div>
<div class='progress-msg'>[04:48:24] Record #8</div>
<div class='progress-msg'>[04:48:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:24] Combine all data for term Volkswagen...</div>
<div class='progress-msg'>[04:48:24] Find corresponding article among previously imported for post `Volkswagen`...</div>
<div class='progress-msg'>[04:48:24] Duplicate post was found for post Volkswagen with unique key `Volkswagen`...</div>
<div class='progress-msg'>[04:48:24] Deleting images for `Volkswagen`</div>
<div class='progress-msg'>[04:48:24] Applying filter `pmxi_article_data` for `Volkswagen`</div>
<div class='progress-msg'>[04:48:24] <b>UPDATING</b> `Volkswagen` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:25] Associate post `Volkswagen` with current import ...</div>
<div class='progress-msg'>[04:48:25] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:25] <b>UPDATED</b> `Volkswagen` `Taxonomy Term` (ID: 15)</div>
<div class='progress-msg'>[04:48:25] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:25] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:25] ---</div>
<div class='progress-msg'>[04:48:25] Record #9</div>
<div class='progress-msg'>[04:48:25] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:25] Combine all data for term Dodge...</div>
<div class='progress-msg'>[04:48:25] Find corresponding article among previously imported for post `Dodge`...</div>
<div class='progress-msg'>[04:48:25] Duplicate post was found for post Dodge with unique key `Dodge`...</div>
<div class='progress-msg'>[04:48:26] Deleting images for `Dodge`</div>
<div class='progress-msg'>[04:48:26] Applying filter `pmxi_article_data` for `Dodge`</div>
<div class='progress-msg'>[04:48:26] <b>UPDATING</b> `Dodge` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:26] Associate post `Dodge` with current import ...</div>
<div class='progress-msg'>[04:48:26] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:26] <b>UPDATED</b> `Dodge` `Taxonomy Term` (ID: 12)</div>
<div class='progress-msg'>[04:48:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:26] ---</div>
<div class='progress-msg'>[04:48:26] Record #10</div>
<div class='progress-msg'>[04:48:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:26] Combine all data for term Buick...</div>
<div class='progress-msg'>[04:48:26] Find corresponding article among previously imported for post `Buick`...</div>
<div class='progress-msg'>[04:48:27] Duplicate post was found for post Buick with unique key `Buick`...</div>
<div class='progress-msg'>[04:48:27] Deleting images for `Buick`</div>
<div class='progress-msg'>[04:48:27] Applying filter `pmxi_article_data` for `Buick`</div>
<div class='progress-msg'>[04:48:27] <b>UPDATING</b> `Buick` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:27] Associate post `Buick` with current import ...</div>
<div class='progress-msg'>[04:48:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:27] <b>UPDATED</b> `Buick` `Taxonomy Term` (ID: 13)</div>
<div class='progress-msg'>[04:48:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:28] ---</div>
<div class='progress-msg'>[04:48:28] Record #11</div>
<div class='progress-msg'>[04:48:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:28] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:48:28] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:48:28] Duplicate post wasn't found with unique key `Ford`...</div>
<div class='progress-msg'>[04:48:28] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:48:28] <b>CREATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:28] <b>ERROR</b>: A term with the name provided already exists in this taxonomy.</div>
<div class='progress-msg'>[04:48:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:28] ---</div>
<div class='progress-msg'>[04:48:28] Record #12</div>
<div class='progress-msg'>[04:48:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:28] Combine all data for term Hyundai...</div>
<div class='progress-msg'>[04:48:28] Find corresponding article among previously imported for post `Hyundai`...</div>
<div class='progress-msg'>[04:48:28] Duplicate post was found for post Hyundai with unique key `Hyundai`...</div>
<div class='progress-msg'>[04:48:28] Deleting images for `Hyundai`</div>
<div class='progress-msg'>[04:48:28] Applying filter `pmxi_article_data` for `Hyundai`</div>
<div class='progress-msg'>[04:48:28] <b>UPDATING</b> `Hyundai` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:29] Associate post `Hyundai` with current import ...</div>
<div class='progress-msg'>[04:48:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:29] <b>UPDATED</b> `Hyundai` `Taxonomy Term` (ID: 10)</div>
<div class='progress-msg'>[04:48:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:29] ---</div>
<div class='progress-msg'>[04:48:29] Record #13</div>
<div class='progress-msg'>[04:48:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:29] Combine all data for term Kia...</div>
<div class='progress-msg'>[04:48:29] Find corresponding article among previously imported for post `Kia`...</div>
<div class='progress-msg'>[04:48:29] Duplicate post wasn't found with unique key `Kia`...</div>
<div class='progress-msg'>[04:48:29] Applying filter `pmxi_article_data` for `Kia`</div>
<div class='progress-msg'>[04:48:29] <b>CREATING</b> `Kia` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:30] Associate post `Kia` with current import ...</div>
<div class='progress-msg'>[04:48:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:30] <b>CREATED</b> `Kia` `Taxonomy Term` (ID: 16)</div>
<div class='progress-msg'>[04:48:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:30] ---</div>
<div class='progress-msg'>[04:48:30] Record #14</div>
<div class='progress-msg'>[04:48:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:30] Combine all data for term Mitsubishi...</div>
<div class='progress-msg'>[04:48:30] Find corresponding article among previously imported for post `Mitsubishi`...</div>
<div class='progress-msg'>[04:48:30] Duplicate post wasn't found with unique key `Mitsubishi`...</div>
<div class='progress-msg'>[04:48:30] Applying filter `pmxi_article_data` for `Mitsubishi`</div>
<div class='progress-msg'>[04:48:30] <b>CREATING</b> `Mitsubishi` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:31] Associate post `Mitsubishi` with current import ...</div>
<div class='progress-msg'>[04:48:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:31] <b>CREATED</b> `Mitsubishi` `Taxonomy Term` (ID: 17)</div>
<div class='progress-msg'>[04:48:31] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:31] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:31] ---</div>
<div class='progress-msg'>[04:48:31] Record #15</div>
<div class='progress-msg'>[04:48:31] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:31] Combine all data for term Volkswagen...</div>
<div class='progress-msg'>[04:48:31] Find corresponding article among previously imported for post `Volkswagen`...</div>
<div class='progress-msg'>[04:48:32] Duplicate post was found for post Volkswagen with unique key `Volkswagen`...</div>
<div class='progress-msg'>[04:48:32] Deleting images for `Volkswagen`</div>
<div class='progress-msg'>[04:48:32] Applying filter `pmxi_article_data` for `Volkswagen`</div>
<div class='progress-msg'>[04:48:32] <b>UPDATING</b> `Volkswagen` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:32] Associate post `Volkswagen` with current import ...</div>
<div class='progress-msg'>[04:48:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:32] <b>UPDATED</b> `Volkswagen` `Taxonomy Term` (ID: 15)</div>
<div class='progress-msg'>[04:48:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:33] ---</div>
<div class='progress-msg'>[04:48:33] Record #16</div>
<div class='progress-msg'>[04:48:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:33] Combine all data for term Buick...</div>
<div class='progress-msg'>[04:48:33] Find corresponding article among previously imported for post `Buick`...</div>
<div class='progress-msg'>[04:48:33] Duplicate post was found for post Buick with unique key `Buick`...</div>
<div class='progress-msg'>[04:48:33] Deleting images for `Buick`</div>
<div class='progress-msg'>[04:48:33] Applying filter `pmxi_article_data` for `Buick`</div>
<div class='progress-msg'>[04:48:33] <b>UPDATING</b> `Buick` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:33] Associate post `Buick` with current import ...</div>
<div class='progress-msg'>[04:48:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:33] <b>UPDATED</b> `Buick` `Taxonomy Term` (ID: 13)</div>
<div class='progress-msg'>[04:48:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:34] ---</div>
<div class='progress-msg'>[04:48:34] Record #17</div>
<div class='progress-msg'>[04:48:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:34] Combine all data for term Subaru...</div>
<div class='progress-msg'>[04:48:34] Find corresponding article among previously imported for post `Subaru`...</div>
<div class='progress-msg'>[04:48:34] Duplicate post wasn't found with unique key `Subaru`...</div>
<div class='progress-msg'>[04:48:34] Applying filter `pmxi_article_data` for `Subaru`</div>
<div class='progress-msg'>[04:48:34] <b>CREATING</b> `Subaru` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:35] Associate post `Subaru` with current import ...</div>
<div class='progress-msg'>[04:48:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:35] <b>CREATED</b> `Subaru` `Taxonomy Term` (ID: 18)</div>
<div class='progress-msg'>[04:48:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:35] ---</div>
<div class='progress-msg'>[04:48:35] Record #18</div>
<div class='progress-msg'>[04:48:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:35] Combine all data for term Mazda...</div>
<div class='progress-msg'>[04:48:35] Find corresponding article among previously imported for post `Mazda`...</div>
<div class='progress-msg'>[04:48:35] Duplicate post wasn't found with unique key `Mazda`...</div>
<div class='progress-msg'>[04:48:35] Applying filter `pmxi_article_data` for `Mazda`</div>
<div class='progress-msg'>[04:48:35] <b>CREATING</b> `Mazda` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:36] Associate post `Mazda` with current import ...</div>
<div class='progress-msg'>[04:48:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:36] <b>CREATED</b> `Mazda` `Taxonomy Term` (ID: 19)</div>
<div class='progress-msg'>[04:48:36] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:36] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:36] ---</div>
<div class='progress-msg'>[04:48:36] Record #19</div>
<div class='progress-msg'>[04:48:36] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:36] Combine all data for term Kia...</div>
<div class='progress-msg'>[04:48:36] Find corresponding article among previously imported for post `Kia`...</div>
<div class='progress-msg'>[04:48:36] Duplicate post was found for post Kia with unique key `Kia`...</div>
<div class='progress-msg'>[04:48:36] Deleting images for `Kia`</div>
<div class='progress-msg'>[04:48:36] Applying filter `pmxi_article_data` for `Kia`</div>
<div class='progress-msg'>[04:48:36] <b>UPDATING</b> `Kia` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:37] Associate post `Kia` with current import ...</div>
<div class='progress-msg'>[04:48:37] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:37] <b>UPDATED</b> `Kia` `Taxonomy Term` (ID: 16)</div>
<div class='progress-msg'>[04:48:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:37] ---</div>
<div class='progress-msg'>[04:48:37] Record #20</div>
<div class='progress-msg'>[04:48:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:37] Combine all data for term Chevrolet...</div>
<div class='progress-msg'>[04:48:37] Find corresponding article among previously imported for post `Chevrolet`...</div>
<div class='progress-msg'>[04:48:37] Duplicate post was found for post Chevrolet with unique key `Chevrolet`...</div>
<div class='progress-msg'>[04:48:37] Deleting images for `Chevrolet`</div>
<div class='progress-msg'>[04:48:38] Applying filter `pmxi_article_data` for `Chevrolet`</div>
<div class='progress-msg'>[04:48:38] <b>UPDATING</b> `Chevrolet` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:38] Associate post `Chevrolet` with current import ...</div>
<div class='progress-msg'>[04:48:38] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:38] <b>UPDATED</b> `Chevrolet` `Taxonomy Term` (ID: 11)</div>
<div class='progress-msg'>[04:48:38] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:38] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:42] ---</div>
<div class='progress-msg'>[04:48:42] Record #21</div>
<div class='progress-msg'>[04:48:42] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:42] Combine all data for term Kia...</div>
<div class='progress-msg'>[04:48:42] Find corresponding article among previously imported for post `Kia`...</div>
<div class='progress-msg'>[04:48:42] Duplicate post was found for post Kia with unique key `Kia`...</div>
<div class='progress-msg'>[04:48:43] Deleting images for `Kia`</div>
<div class='progress-msg'>[04:48:43] Applying filter `pmxi_article_data` for `Kia`</div>
<div class='progress-msg'>[04:48:43] <b>UPDATING</b> `Kia` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:44] Associate post `Kia` with current import ...</div>
<div class='progress-msg'>[04:48:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:44] <b>UPDATED</b> `Kia` `Taxonomy Term` (ID: 16)</div>
<div class='progress-msg'>[04:48:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:44] ---</div>
<div class='progress-msg'>[04:48:44] Record #22</div>
<div class='progress-msg'>[04:48:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:44] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:48:44] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:48:44] Duplicate post wasn't found with unique key `Ford`...</div>
<div class='progress-msg'>[04:48:44] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:48:44] <b>CREATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:44] <b>ERROR</b>: A term with the name provided already exists in this taxonomy.</div>
<div class='progress-msg'>[04:48:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:44] ---</div>
<div class='progress-msg'>[04:48:44] Record #23</div>
<div class='progress-msg'>[04:48:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:44] Combine all data for term Chevrolet...</div>
<div class='progress-msg'>[04:48:44] Find corresponding article among previously imported for post `Chevrolet`...</div>
<div class='progress-msg'>[04:48:44] Duplicate post was found for post Chevrolet with unique key `Chevrolet`...</div>
<div class='progress-msg'>[04:48:44] Deleting images for `Chevrolet`</div>
<div class='progress-msg'>[04:48:45] Applying filter `pmxi_article_data` for `Chevrolet`</div>
<div class='progress-msg'>[04:48:45] <b>UPDATING</b> `Chevrolet` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:45] Associate post `Chevrolet` with current import ...</div>
<div class='progress-msg'>[04:48:45] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:45] <b>UPDATED</b> `Chevrolet` `Taxonomy Term` (ID: 11)</div>
<div class='progress-msg'>[04:48:45] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:45] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:45] ---</div>
<div class='progress-msg'>[04:48:45] Record #24</div>
<div class='progress-msg'>[04:48:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:45] Combine all data for term Toyota...</div>
<div class='progress-msg'>[04:48:45] Find corresponding article among previously imported for post `Toyota`...</div>
<div class='progress-msg'>[04:48:46] Duplicate post wasn't found with unique key `Toyota`...</div>
<div class='progress-msg'>[04:48:46] Applying filter `pmxi_article_data` for `Toyota`</div>
<div class='progress-msg'>[04:48:46] <b>CREATING</b> `Toyota` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:47] Associate post `Toyota` with current import ...</div>
<div class='progress-msg'>[04:48:47] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:47] <b>CREATED</b> `Toyota` `Taxonomy Term` (ID: 20)</div>
<div class='progress-msg'>[04:48:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:47] ---</div>
<div class='progress-msg'>[04:48:47] Record #25</div>
<div class='progress-msg'>[04:48:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:47] Combine all data for term Hyundai...</div>
<div class='progress-msg'>[04:48:47] Find corresponding article among previously imported for post `Hyundai`...</div>
<div class='progress-msg'>[04:48:47] Duplicate post was found for post Hyundai with unique key `Hyundai`...</div>
<div class='progress-msg'>[04:48:47] Deleting images for `Hyundai`</div>
<div class='progress-msg'>[04:48:47] Applying filter `pmxi_article_data` for `Hyundai`</div>
<div class='progress-msg'>[04:48:47] <b>UPDATING</b> `Hyundai` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:48] Associate post `Hyundai` with current import ...</div>
<div class='progress-msg'>[04:48:48] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:48] <b>UPDATED</b> `Hyundai` `Taxonomy Term` (ID: 10)</div>
<div class='progress-msg'>[04:48:48] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:48] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:48] ---</div>
<div class='progress-msg'>[04:48:48] Record #26</div>
<div class='progress-msg'>[04:48:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:48] Combine all data for term Hyundai...</div>
<div class='progress-msg'>[04:48:48] Find corresponding article among previously imported for post `Hyundai`...</div>
<div class='progress-msg'>[04:48:48] Duplicate post was found for post Hyundai with unique key `Hyundai`...</div>
<div class='progress-msg'>[04:48:48] Deleting images for `Hyundai`</div>
<div class='progress-msg'>[04:48:48] Applying filter `pmxi_article_data` for `Hyundai`</div>
<div class='progress-msg'>[04:48:48] <b>UPDATING</b> `Hyundai` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:49] Associate post `Hyundai` with current import ...</div>
<div class='progress-msg'>[04:48:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:49] <b>UPDATED</b> `Hyundai` `Taxonomy Term` (ID: 10)</div>
<div class='progress-msg'>[04:48:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:49] ---</div>
<div class='progress-msg'>[04:48:49] Record #27</div>
<div class='progress-msg'>[04:48:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:49] Combine all data for term Nissan...</div>
<div class='progress-msg'>[04:48:49] Find corresponding article among previously imported for post `Nissan`...</div>
<div class='progress-msg'>[04:48:49] Duplicate post was found for post Nissan with unique key `Nissan`...</div>
<div class='progress-msg'>[04:48:49] Deleting images for `Nissan`</div>
<div class='progress-msg'>[04:48:50] Applying filter `pmxi_article_data` for `Nissan`</div>
<div class='progress-msg'>[04:48:50] <b>UPDATING</b> `Nissan` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:50] Associate post `Nissan` with current import ...</div>
<div class='progress-msg'>[04:48:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:50] <b>UPDATED</b> `Nissan` `Taxonomy Term` (ID: 14)</div>
<div class='progress-msg'>[04:48:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:51] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:51] ---</div>
<div class='progress-msg'>[04:48:51] Record #28</div>
<div class='progress-msg'>[04:48:51] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:51] Combine all data for term Volvo...</div>
<div class='progress-msg'>[04:48:51] Find corresponding article among previously imported for post `Volvo`...</div>
<div class='progress-msg'>[04:48:51] Duplicate post wasn't found with unique key `Volvo`...</div>
<div class='progress-msg'>[04:48:51] Applying filter `pmxi_article_data` for `Volvo`</div>
<div class='progress-msg'>[04:48:51] <b>CREATING</b> `Volvo` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:52] Associate post `Volvo` with current import ...</div>
<div class='progress-msg'>[04:48:52] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:52] <b>CREATED</b> `Volvo` `Taxonomy Term` (ID: 21)</div>
<div class='progress-msg'>[04:48:52] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:52] ---</div>
<div class='progress-msg'>[04:48:52] Record #29</div>
<div class='progress-msg'>[04:48:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:52] Combine all data for term Hyundai...</div>
<div class='progress-msg'>[04:48:52] Find corresponding article among previously imported for post `Hyundai`...</div>
<div class='progress-msg'>[04:48:52] Duplicate post was found for post Hyundai with unique key `Hyundai`...</div>
<div class='progress-msg'>[04:48:52] Deleting images for `Hyundai`</div>
<div class='progress-msg'>[04:48:52] Applying filter `pmxi_article_data` for `Hyundai`</div>
<div class='progress-msg'>[04:48:52] <b>UPDATING</b> `Hyundai` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:53] Associate post `Hyundai` with current import ...</div>
<div class='progress-msg'>[04:48:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:53] <b>UPDATED</b> `Hyundai` `Taxonomy Term` (ID: 10)</div>
<div class='progress-msg'>[04:48:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:53] ---</div>
<div class='progress-msg'>[04:48:53] Record #30</div>
<div class='progress-msg'>[04:48:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:53] Combine all data for term Hyundai...</div>
<div class='progress-msg'>[04:48:53] Find corresponding article among previously imported for post `Hyundai`...</div>
<div class='progress-msg'>[04:48:53] Duplicate post was found for post Hyundai with unique key `Hyundai`...</div>
<div class='progress-msg'>[04:48:53] Deleting images for `Hyundai`</div>
<div class='progress-msg'>[04:48:53] Applying filter `pmxi_article_data` for `Hyundai`</div>
<div class='progress-msg'>[04:48:53] <b>UPDATING</b> `Hyundai` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:54] Associate post `Hyundai` with current import ...</div>
<div class='progress-msg'>[04:48:54] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:54] <b>UPDATED</b> `Hyundai` `Taxonomy Term` (ID: 10)</div>
<div class='progress-msg'>[04:48:54] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:54] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:54] ---</div>
<div class='progress-msg'>[04:48:54] Record #31</div>
<div class='progress-msg'>[04:48:54] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:54] Combine all data for term Chevrolet...</div>
<div class='progress-msg'>[04:48:54] Find corresponding article among previously imported for post `Chevrolet`...</div>
<div class='progress-msg'>[04:48:54] Duplicate post was found for post Chevrolet with unique key `Chevrolet`...</div>
<div class='progress-msg'>[04:48:54] Deleting images for `Chevrolet`</div>
<div class='progress-msg'>[04:48:54] Applying filter `pmxi_article_data` for `Chevrolet`</div>
<div class='progress-msg'>[04:48:54] <b>UPDATING</b> `Chevrolet` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:55] Associate post `Chevrolet` with current import ...</div>
<div class='progress-msg'>[04:48:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:55] <b>UPDATED</b> `Chevrolet` `Taxonomy Term` (ID: 11)</div>
<div class='progress-msg'>[04:48:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:55] ---</div>
<div class='progress-msg'>[04:48:55] Record #32</div>
<div class='progress-msg'>[04:48:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:55] Combine all data for term Toyota...</div>
<div class='progress-msg'>[04:48:55] Find corresponding article among previously imported for post `Toyota`...</div>
<div class='progress-msg'>[04:48:55] Duplicate post was found for post Toyota with unique key `Toyota`...</div>
<div class='progress-msg'>[04:48:55] Deleting images for `Toyota`</div>
<div class='progress-msg'>[04:48:56] Applying filter `pmxi_article_data` for `Toyota`</div>
<div class='progress-msg'>[04:48:56] <b>UPDATING</b> `Toyota` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:56] Associate post `Toyota` with current import ...</div>
<div class='progress-msg'>[04:48:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:56] <b>UPDATED</b> `Toyota` `Taxonomy Term` (ID: 20)</div>
<div class='progress-msg'>[04:48:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:56] ---</div>
<div class='progress-msg'>[04:48:56] Record #33</div>
<div class='progress-msg'>[04:48:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:56] Combine all data for term Kia...</div>
<div class='progress-msg'>[04:48:56] Find corresponding article among previously imported for post `Kia`...</div>
<div class='progress-msg'>[04:48:57] Duplicate post was found for post Kia with unique key `Kia`...</div>
<div class='progress-msg'>[04:48:57] Deleting images for `Kia`</div>
<div class='progress-msg'>[04:48:57] Applying filter `pmxi_article_data` for `Kia`</div>
<div class='progress-msg'>[04:48:57] <b>UPDATING</b> `Kia` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:57] Associate post `Kia` with current import ...</div>
<div class='progress-msg'>[04:48:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:57] <b>UPDATED</b> `Kia` `Taxonomy Term` (ID: 16)</div>
<div class='progress-msg'>[04:48:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:58] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:58] ---</div>
<div class='progress-msg'>[04:48:58] Record #34</div>
<div class='progress-msg'>[04:48:58] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:58] Combine all data for term Dodge...</div>
<div class='progress-msg'>[04:48:58] Find corresponding article among previously imported for post `Dodge`...</div>
<div class='progress-msg'>[04:48:58] Duplicate post was found for post Dodge with unique key `Dodge`...</div>
<div class='progress-msg'>[04:48:58] Deleting images for `Dodge`</div>
<div class='progress-msg'>[04:48:58] Applying filter `pmxi_article_data` for `Dodge`</div>
<div class='progress-msg'>[04:48:58] <b>UPDATING</b> `Dodge` `Taxonomy Term`</div>
<div class='progress-msg'>[04:48:59] Associate post `Dodge` with current import ...</div>
<div class='progress-msg'>[04:48:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:48:59] <b>UPDATED</b> `Dodge` `Taxonomy Term` (ID: 12)</div>
<div class='progress-msg'>[04:48:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:48:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:48:59] ---</div>
<div class='progress-msg'>[04:48:59] Record #35</div>
<div class='progress-msg'>[04:48:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:48:59] Combine all data for term Nissan...</div>
<div class='progress-msg'>[04:48:59] Find corresponding article among previously imported for post `Nissan`...</div>
<div class='progress-msg'>[04:48:59] Duplicate post was found for post Nissan with unique key `Nissan`...</div>
<div class='progress-msg'>[04:48:59] Deleting images for `Nissan`</div>
<div class='progress-msg'>[04:48:59] Applying filter `pmxi_article_data` for `Nissan`</div>
<div class='progress-msg'>[04:48:59] <b>UPDATING</b> `Nissan` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:00] Associate post `Nissan` with current import ...</div>
<div class='progress-msg'>[04:49:00] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:00] <b>UPDATED</b> `Nissan` `Taxonomy Term` (ID: 14)</div>
<div class='progress-msg'>[04:49:00] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:00] ---</div>
<div class='progress-msg'>[04:49:00] Record #36</div>
<div class='progress-msg'>[04:49:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:00] Combine all data for term Hyundai...</div>
<div class='progress-msg'>[04:49:00] Find corresponding article among previously imported for post `Hyundai`...</div>
<div class='progress-msg'>[04:49:00] Duplicate post was found for post Hyundai with unique key `Hyundai`...</div>
<div class='progress-msg'>[04:49:00] Deleting images for `Hyundai`</div>
<div class='progress-msg'>[04:49:00] Applying filter `pmxi_article_data` for `Hyundai`</div>
<div class='progress-msg'>[04:49:00] <b>UPDATING</b> `Hyundai` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:01] Associate post `Hyundai` with current import ...</div>
<div class='progress-msg'>[04:49:01] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:01] <b>UPDATED</b> `Hyundai` `Taxonomy Term` (ID: 10)</div>
<div class='progress-msg'>[04:49:01] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:01] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:01] ---</div>
<div class='progress-msg'>[04:49:01] Record #37</div>
<div class='progress-msg'>[04:49:01] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:01] Combine all data for term Jeep...</div>
<div class='progress-msg'>[04:49:01] Find corresponding article among previously imported for post `Jeep`...</div>
<div class='progress-msg'>[04:49:01] Duplicate post wasn't found with unique key `Jeep`...</div>
<div class='progress-msg'>[04:49:01] Applying filter `pmxi_article_data` for `Jeep`</div>
<div class='progress-msg'>[04:49:01] <b>CREATING</b> `Jeep` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:02] Associate post `Jeep` with current import ...</div>
<div class='progress-msg'>[04:49:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:02] <b>CREATED</b> `Jeep` `Taxonomy Term` (ID: 22)</div>
<div class='progress-msg'>[04:49:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:02] ---</div>
<div class='progress-msg'>[04:49:02] Record #38</div>
<div class='progress-msg'>[04:49:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:02] Combine all data for term Hyundai...</div>
<div class='progress-msg'>[04:49:02] Find corresponding article among previously imported for post `Hyundai`...</div>
<div class='progress-msg'>[04:49:03] Duplicate post was found for post Hyundai with unique key `Hyundai`...</div>
<div class='progress-msg'>[04:49:03] Deleting images for `Hyundai`</div>
<div class='progress-msg'>[04:49:03] Applying filter `pmxi_article_data` for `Hyundai`</div>
<div class='progress-msg'>[04:49:03] <b>UPDATING</b> `Hyundai` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:03] Associate post `Hyundai` with current import ...</div>
<div class='progress-msg'>[04:49:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:03] <b>UPDATED</b> `Hyundai` `Taxonomy Term` (ID: 10)</div>
<div class='progress-msg'>[04:49:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:04] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:04] ---</div>
<div class='progress-msg'>[04:49:04] Record #39</div>
<div class='progress-msg'>[04:49:04] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:04] Combine all data for term Nissan...</div>
<div class='progress-msg'>[04:49:04] Find corresponding article among previously imported for post `Nissan`...</div>
<div class='progress-msg'>[04:49:04] Duplicate post was found for post Nissan with unique key `Nissan`...</div>
<div class='progress-msg'>[04:49:04] Deleting images for `Nissan`</div>
<div class='progress-msg'>[04:49:04] Applying filter `pmxi_article_data` for `Nissan`</div>
<div class='progress-msg'>[04:49:04] <b>UPDATING</b> `Nissan` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:04] Associate post `Nissan` with current import ...</div>
<div class='progress-msg'>[04:49:04] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:04] <b>UPDATED</b> `Nissan` `Taxonomy Term` (ID: 14)</div>
<div class='progress-msg'>[04:49:04] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:05] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:05] ---</div>
<div class='progress-msg'>[04:49:05] Record #40</div>
<div class='progress-msg'>[04:49:05] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:05] Combine all data for term Kia...</div>
<div class='progress-msg'>[04:49:05] Find corresponding article among previously imported for post `Kia`...</div>
<div class='progress-msg'>[04:49:05] Duplicate post was found for post Kia with unique key `Kia`...</div>
<div class='progress-msg'>[04:49:05] Deleting images for `Kia`</div>
<div class='progress-msg'>[04:49:05] Applying filter `pmxi_article_data` for `Kia`</div>
<div class='progress-msg'>[04:49:05] <b>UPDATING</b> `Kia` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:06] Associate post `Kia` with current import ...</div>
<div class='progress-msg'>[04:49:06] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:06] <b>UPDATED</b> `Kia` `Taxonomy Term` (ID: 16)</div>
<div class='progress-msg'>[04:49:06] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:06] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:10] ---</div>
<div class='progress-msg'>[04:49:10] Record #41</div>
<div class='progress-msg'>[04:49:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:10] Combine all data for term Chrysler...</div>
<div class='progress-msg'>[04:49:10] Find corresponding article among previously imported for post `Chrysler`...</div>
<div class='progress-msg'>[04:49:10] Duplicate post wasn't found with unique key `Chrysler`...</div>
<div class='progress-msg'>[04:49:10] Applying filter `pmxi_article_data` for `Chrysler`</div>
<div class='progress-msg'>[04:49:10] <b>CREATING</b> `Chrysler` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:10] <b>ERROR</b>: A term with the name provided already exists in this taxonomy.</div>
<div class='progress-msg'>[04:49:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:10] ---</div>
<div class='progress-msg'>[04:49:10] Record #42</div>
<div class='progress-msg'>[04:49:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:10] Combine all data for term Subaru...</div>
<div class='progress-msg'>[04:49:10] Find corresponding article among previously imported for post `Subaru`...</div>
<div class='progress-msg'>[04:49:10] Duplicate post was found for post Subaru with unique key `Subaru`...</div>
<div class='progress-msg'>[04:49:10] Deleting images for `Subaru`</div>
<div class='progress-msg'>[04:49:10] Applying filter `pmxi_article_data` for `Subaru`</div>
<div class='progress-msg'>[04:49:10] <b>UPDATING</b> `Subaru` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:11] Associate post `Subaru` with current import ...</div>
<div class='progress-msg'>[04:49:11] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:11] <b>UPDATED</b> `Subaru` `Taxonomy Term` (ID: 18)</div>
<div class='progress-msg'>[04:49:11] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:12] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:12] ---</div>
<div class='progress-msg'>[04:49:12] Record #43</div>
<div class='progress-msg'>[04:49:12] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:12] Combine all data for term Mitsubishi...</div>
<div class='progress-msg'>[04:49:12] Find corresponding article among previously imported for post `Mitsubishi`...</div>
<div class='progress-msg'>[04:49:12] Duplicate post was found for post Mitsubishi with unique key `Mitsubishi`...</div>
<div class='progress-msg'>[04:49:12] Deleting images for `Mitsubishi`</div>
<div class='progress-msg'>[04:49:12] Applying filter `pmxi_article_data` for `Mitsubishi`</div>
<div class='progress-msg'>[04:49:12] <b>UPDATING</b> `Mitsubishi` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:13] Associate post `Mitsubishi` with current import ...</div>
<div class='progress-msg'>[04:49:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:13] <b>UPDATED</b> `Mitsubishi` `Taxonomy Term` (ID: 17)</div>
<div class='progress-msg'>[04:49:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:13] ---</div>
<div class='progress-msg'>[04:49:13] Record #44</div>
<div class='progress-msg'>[04:49:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:13] Combine all data for term Jeep...</div>
<div class='progress-msg'>[04:49:13] Find corresponding article among previously imported for post `Jeep`...</div>
<div class='progress-msg'>[04:49:13] Duplicate post was found for post Jeep with unique key `Jeep`...</div>
<div class='progress-msg'>[04:49:13] Deleting images for `Jeep`</div>
<div class='progress-msg'>[04:49:13] Applying filter `pmxi_article_data` for `Jeep`</div>
<div class='progress-msg'>[04:49:13] <b>UPDATING</b> `Jeep` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:14] Associate post `Jeep` with current import ...</div>
<div class='progress-msg'>[04:49:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:14] <b>UPDATED</b> `Jeep` `Taxonomy Term` (ID: 22)</div>
<div class='progress-msg'>[04:49:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:14] ---</div>
<div class='progress-msg'>[04:49:14] Record #45</div>
<div class='progress-msg'>[04:49:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:14] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:49:14] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:49:14] Duplicate post wasn't found with unique key `Ford`...</div>
<div class='progress-msg'>[04:49:14] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:49:14] <b>CREATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:14] <b>ERROR</b>: A term with the name provided already exists in this taxonomy.</div>
<div class='progress-msg'>[04:49:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:14] ---</div>
<div class='progress-msg'>[04:49:14] Record #46</div>
<div class='progress-msg'>[04:49:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:14] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:49:14] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:49:15] Duplicate post wasn't found with unique key `Ford`...</div>
<div class='progress-msg'>[04:49:15] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:49:15] <b>CREATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:15] <b>ERROR</b>: A term with the name provided already exists in this taxonomy.</div>
<div class='progress-msg'>[04:49:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:15] ---</div>
<div class='progress-msg'>[04:49:15] Record #47</div>
<div class='progress-msg'>[04:49:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:15] Combine all data for term Nissan...</div>
<div class='progress-msg'>[04:49:15] Find corresponding article among previously imported for post `Nissan`...</div>
<div class='progress-msg'>[04:49:15] Duplicate post was found for post Nissan with unique key `Nissan`...</div>
<div class='progress-msg'>[04:49:15] Deleting images for `Nissan`</div>
<div class='progress-msg'>[04:49:15] Applying filter `pmxi_article_data` for `Nissan`</div>
<div class='progress-msg'>[04:49:15] <b>UPDATING</b> `Nissan` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:16] Associate post `Nissan` with current import ...</div>
<div class='progress-msg'>[04:49:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:16] <b>UPDATED</b> `Nissan` `Taxonomy Term` (ID: 14)</div>
<div class='progress-msg'>[04:49:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:16] ---</div>
<div class='progress-msg'>[04:49:16] Record #48</div>
<div class='progress-msg'>[04:49:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:16] Combine all data for term Nissan...</div>
<div class='progress-msg'>[04:49:16] Find corresponding article among previously imported for post `Nissan`...</div>
<div class='progress-msg'>[04:49:16] Duplicate post was found for post Nissan with unique key `Nissan`...</div>
<div class='progress-msg'>[04:49:16] Deleting images for `Nissan`</div>
<div class='progress-msg'>[04:49:16] Applying filter `pmxi_article_data` for `Nissan`</div>
<div class='progress-msg'>[04:49:16] <b>UPDATING</b> `Nissan` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:17] Associate post `Nissan` with current import ...</div>
<div class='progress-msg'>[04:49:17] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:17] <b>UPDATED</b> `Nissan` `Taxonomy Term` (ID: 14)</div>
<div class='progress-msg'>[04:49:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:17] ---</div>
<div class='progress-msg'>[04:49:17] Record #49</div>
<div class='progress-msg'>[04:49:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:17] Combine all data for term Chrysler...</div>
<div class='progress-msg'>[04:49:17] Find corresponding article among previously imported for post `Chrysler`...</div>
<div class='progress-msg'>[04:49:17] Duplicate post wasn't found with unique key `Chrysler`...</div>
<div class='progress-msg'>[04:49:17] Applying filter `pmxi_article_data` for `Chrysler`</div>
<div class='progress-msg'>[04:49:17] <b>CREATING</b> `Chrysler` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:17] <b>ERROR</b>: A term with the name provided already exists in this taxonomy.</div>
<div class='progress-msg'>[04:49:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:17] ---</div>
<div class='progress-msg'>[04:49:17] Record #50</div>
<div class='progress-msg'>[04:49:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:17] Combine all data for term GMC...</div>
<div class='progress-msg'>[04:49:17] Find corresponding article among previously imported for post `GMC`...</div>
<div class='progress-msg'>[04:49:17] Duplicate post wasn't found with unique key `GMC`...</div>
<div class='progress-msg'>[04:49:17] Applying filter `pmxi_article_data` for `GMC`</div>
<div class='progress-msg'>[04:49:17] <b>CREATING</b> `GMC` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:18] Associate post `GMC` with current import ...</div>
<div class='progress-msg'>[04:49:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:18] <b>CREATED</b> `GMC` `Taxonomy Term` (ID: 23)</div>
<div class='progress-msg'>[04:49:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:18] ---</div>
<div class='progress-msg'>[04:49:18] Record #51</div>
<div class='progress-msg'>[04:49:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:18] Combine all data for term Nissan...</div>
<div class='progress-msg'>[04:49:18] Find corresponding article among previously imported for post `Nissan`...</div>
<div class='progress-msg'>[04:49:19] Duplicate post was found for post Nissan with unique key `Nissan`...</div>
<div class='progress-msg'>[04:49:19] Deleting images for `Nissan`</div>
<div class='progress-msg'>[04:49:19] Applying filter `pmxi_article_data` for `Nissan`</div>
<div class='progress-msg'>[04:49:19] <b>UPDATING</b> `Nissan` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:19] Associate post `Nissan` with current import ...</div>
<div class='progress-msg'>[04:49:19] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:19] <b>UPDATED</b> `Nissan` `Taxonomy Term` (ID: 14)</div>
<div class='progress-msg'>[04:49:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:20] ---</div>
<div class='progress-msg'>[04:49:20] Record #52</div>
<div class='progress-msg'>[04:49:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:20] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:49:20] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:49:20] Duplicate post wasn't found with unique key `Ford`...</div>
<div class='progress-msg'>[04:49:20] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:49:20] <b>CREATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:20] <b>ERROR</b>: A term with the name provided already exists in this taxonomy.</div>
<div class='progress-msg'>[04:49:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:20] ---</div>
<div class='progress-msg'>[04:49:20] Record #53</div>
<div class='progress-msg'>[04:49:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:20] Combine all data for term Toyota...</div>
<div class='progress-msg'>[04:49:20] Find corresponding article among previously imported for post `Toyota`...</div>
<div class='progress-msg'>[04:49:20] Duplicate post was found for post Toyota with unique key `Toyota`...</div>
<div class='progress-msg'>[04:49:20] Deleting images for `Toyota`</div>
<div class='progress-msg'>[04:49:20] Applying filter `pmxi_article_data` for `Toyota`</div>
<div class='progress-msg'>[04:49:20] <b>UPDATING</b> `Toyota` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:21] Associate post `Toyota` with current import ...</div>
<div class='progress-msg'>[04:49:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:21] <b>UPDATED</b> `Toyota` `Taxonomy Term` (ID: 20)</div>
<div class='progress-msg'>[04:49:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:21] ---</div>
<div class='progress-msg'>[04:49:21] Record #54</div>
<div class='progress-msg'>[04:49:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:21] Combine all data for term Toyota...</div>
<div class='progress-msg'>[04:49:21] Find corresponding article among previously imported for post `Toyota`...</div>
<div class='progress-msg'>[04:49:21] Duplicate post was found for post Toyota with unique key `Toyota`...</div>
<div class='progress-msg'>[04:49:21] Deleting images for `Toyota`</div>
<div class='progress-msg'>[04:49:21] Applying filter `pmxi_article_data` for `Toyota`</div>
<div class='progress-msg'>[04:49:21] <b>UPDATING</b> `Toyota` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:22] Associate post `Toyota` with current import ...</div>
<div class='progress-msg'>[04:49:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:22] <b>UPDATED</b> `Toyota` `Taxonomy Term` (ID: 20)</div>
<div class='progress-msg'>[04:49:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:22] ---</div>
<div class='progress-msg'>[04:49:22] Record #55</div>
<div class='progress-msg'>[04:49:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:49:22] Combine all data for term Chevrolet...</div>
<div class='progress-msg'>[04:49:22] Find corresponding article among previously imported for post `Chevrolet`...</div>
<div class='progress-msg'>[04:49:22] Duplicate post was found for post Chevrolet with unique key `Chevrolet`...</div>
<div class='progress-msg'>[04:49:22] Deleting images for `Chevrolet`</div>
<div class='progress-msg'>[04:49:23] Applying filter `pmxi_article_data` for `Chevrolet`</div>
<div class='progress-msg'>[04:49:23] <b>UPDATING</b> `Chevrolet` `Taxonomy Term`</div>
<div class='progress-msg'>[04:49:23] Associate post `Chevrolet` with current import ...</div>
<div class='progress-msg'>[04:49:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:49:23] <b>UPDATED</b> `Chevrolet` `Taxonomy Term` (ID: 11)</div>
<div class='progress-msg'>[04:49:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:49:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:49:24] Cleaning temporary data...</div>
