<div class='progress-msg'>Fri, 09 Oct 2020 04:35:47 +0000</div>
<div class='progress-msg'>[04:35:47] Composing titles...</div>
<div class='progress-msg'>[04:35:47] Composing parent terms...</div>
<div class='progress-msg'>[04:35:47] Composing terms slug...</div>
<div class='progress-msg'>[04:35:47] Composing duplicate indicators...</div>
<div class='progress-msg'>[04:35:47] Composing authors...</div>
<div class='progress-msg'>[04:35:47] Composing slugs...</div>
<div class='progress-msg'>[04:35:47] Composing menu order...</div>
<div class='progress-msg'>[04:35:47] Composing contents...</div>
<div class='progress-msg'>[04:35:47] Composing dates...</div>
<div class='progress-msg'>[04:35:47] Composing custom parameters...</div>
<div class='progress-msg'>[04:35:47] Composing URLs for images...</div>
<div class='progress-msg'>[04:35:47] Composing URLs for attachments files...</div>
<div class='progress-msg'>[04:35:47] Composing post comments...</div>
<div class='progress-msg'>[04:35:47] Composing unique keys...</div>
<div class='progress-msg'>[04:35:47] Processing posts...</div>
<div class='progress-msg'>[04:35:47] Data parsing via add-ons...</div>
<div class='progress-msg'>[04:35:47] ---</div>
<div class='progress-msg'>[04:35:47] Record #1</div>
<div class='progress-msg'>[04:35:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:47] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:47] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:47] Duplicate post wasn't found with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:47] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:47] <b>CREATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:35:48] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:35:48] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:35:49] <b>CREATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:35:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:35:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:35:49] ---</div>
<div class='progress-msg'>[04:35:49] Record #2</div>
<div class='progress-msg'>[04:35:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:35:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:35:50] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:35:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:35:50] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:35:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:35:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:35:50] ---</div>
<div class='progress-msg'>[04:35:50] Record #3</div>
<div class='progress-msg'>[04:35:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:50] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:50] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:50] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:50] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:35:50] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:50] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:35:51] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:35:51] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:35:51] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:35:51] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:35:51] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:35:51] ---</div>
<div class='progress-msg'>[04:35:51] Record #4</div>
<div class='progress-msg'>[04:35:51] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:51] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:51] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:51] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:51] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:35:51] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:51] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:35:52] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:35:52] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:35:52] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:35:52] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:35:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:35:52] ---</div>
<div class='progress-msg'>[04:35:52] Record #5</div>
<div class='progress-msg'>[04:35:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:52] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:52] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:52] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:52] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:35:52] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:52] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:35:53] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:35:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:35:53] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:35:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:35:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:35:53] ---</div>
<div class='progress-msg'>[04:35:53] Record #6</div>
<div class='progress-msg'>[04:35:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:53] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:53] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:53] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:53] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:35:53] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:53] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:35:54] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:35:54] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:35:54] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:35:54] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:35:54] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:35:54] ---</div>
<div class='progress-msg'>[04:35:54] Record #7</div>
<div class='progress-msg'>[04:35:54] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:54] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:54] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:54] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:55] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:35:55] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:55] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:35:55] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:35:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:35:55] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:35:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:35:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:35:55] ---</div>
<div class='progress-msg'>[04:35:55] Record #8</div>
<div class='progress-msg'>[04:35:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:55] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:55] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:56] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:56] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:35:56] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:56] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:35:56] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:35:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:35:56] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:35:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:35:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:35:56] ---</div>
<div class='progress-msg'>[04:35:56] Record #9</div>
<div class='progress-msg'>[04:35:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:56] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:56] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:57] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:57] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:35:57] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:57] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:35:57] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:35:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:35:57] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:35:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:35:58] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:35:58] ---</div>
<div class='progress-msg'>[04:35:58] Record #10</div>
<div class='progress-msg'>[04:35:58] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:58] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:58] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:58] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:58] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:35:58] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:58] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:35:58] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:35:58] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:35:58] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:35:58] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:35:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:35:59] ---</div>
<div class='progress-msg'>[04:35:59] Record #11</div>
<div class='progress-msg'>[04:35:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:35:59] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:35:59] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:35:59] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:35:59] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:35:59] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:35:59] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:00] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:00] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:00] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:00] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:00] ---</div>
<div class='progress-msg'>[04:36:00] Record #12</div>
<div class='progress-msg'>[04:36:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:00] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:00] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:00] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:00] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:00] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:00] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:01] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:01] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:01] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:01] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:01] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:01] ---</div>
<div class='progress-msg'>[04:36:01] Record #13</div>
<div class='progress-msg'>[04:36:01] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:01] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:01] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:01] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:01] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:01] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:01] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:02] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:02] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:02] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:02] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:02] ---</div>
<div class='progress-msg'>[04:36:02] Record #14</div>
<div class='progress-msg'>[04:36:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:02] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:02] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:02] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:02] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:02] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:02] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:03] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:03] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:03] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:03] ---</div>
<div class='progress-msg'>[04:36:03] Record #15</div>
<div class='progress-msg'>[04:36:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:03] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:03] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:03] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:03] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:03] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:03] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:04] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:04] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:04] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:04] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:04] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:04] ---</div>
<div class='progress-msg'>[04:36:04] Record #16</div>
<div class='progress-msg'>[04:36:04] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:04] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:04] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:04] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:05] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:05] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:05] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:05] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:05] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:05] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:05] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:05] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:05] ---</div>
<div class='progress-msg'>[04:36:05] Record #17</div>
<div class='progress-msg'>[04:36:05] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:05] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:05] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:06] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:06] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:06] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:06] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:06] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:06] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:06] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:06] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:07] ---</div>
<div class='progress-msg'>[04:36:07] Record #18</div>
<div class='progress-msg'>[04:36:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:07] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:07] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:07] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:07] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:07] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:07] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:07] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:07] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:07] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:08] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:08] ---</div>
<div class='progress-msg'>[04:36:08] Record #19</div>
<div class='progress-msg'>[04:36:08] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:08] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:08] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:08] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:08] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:08] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:08] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:09] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:09] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:09] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:09] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:09] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:09] ---</div>
<div class='progress-msg'>[04:36:09] Record #20</div>
<div class='progress-msg'>[04:36:09] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:09] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:09] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:09] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:09] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:09] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:09] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:10] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:10] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:14] ---</div>
<div class='progress-msg'>[04:36:14] Record #21</div>
<div class='progress-msg'>[04:36:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:14] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:14] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:14] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:14] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:14] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:14] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:15] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:15] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:15] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:15] ---</div>
<div class='progress-msg'>[04:36:15] Record #22</div>
<div class='progress-msg'>[04:36:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:15] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:15] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:16] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:16] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:16] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:16] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:16] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:16] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:17] ---</div>
<div class='progress-msg'>[04:36:17] Record #23</div>
<div class='progress-msg'>[04:36:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:17] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:17] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:17] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:17] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:17] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:17] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:18] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:18] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:18] ---</div>
<div class='progress-msg'>[04:36:18] Record #24</div>
<div class='progress-msg'>[04:36:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:18] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:18] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:18] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:18] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:18] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:18] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:19] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:19] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:19] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:19] ---</div>
<div class='progress-msg'>[04:36:19] Record #25</div>
<div class='progress-msg'>[04:36:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:19] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:19] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:19] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:19] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:19] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:19] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:20] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:20] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:20] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:20] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:20] ---</div>
<div class='progress-msg'>[04:36:20] Record #26</div>
<div class='progress-msg'>[04:36:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:20] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:20] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:20] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:20] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:20] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:20] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:21] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:21] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:21] ---</div>
<div class='progress-msg'>[04:36:21] Record #27</div>
<div class='progress-msg'>[04:36:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:21] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:21] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:21] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:22] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:22] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:22] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:22] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:22] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:22] ---</div>
<div class='progress-msg'>[04:36:22] Record #28</div>
<div class='progress-msg'>[04:36:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:22] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:22] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:23] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:23] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:23] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:23] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:23] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:23] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:24] ---</div>
<div class='progress-msg'>[04:36:24] Record #29</div>
<div class='progress-msg'>[04:36:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:24] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:24] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:24] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:24] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:24] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:24] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:25] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:25] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:25] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:25] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:25] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:25] ---</div>
<div class='progress-msg'>[04:36:25] Record #30</div>
<div class='progress-msg'>[04:36:25] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:25] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:25] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:25] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:25] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:25] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:25] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:26] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:26] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:26] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:26] ---</div>
<div class='progress-msg'>[04:36:26] Record #31</div>
<div class='progress-msg'>[04:36:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:26] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:26] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:26] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:26] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:26] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:26] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:27] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:27] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:27] ---</div>
<div class='progress-msg'>[04:36:27] Record #32</div>
<div class='progress-msg'>[04:36:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:27] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:27] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:27] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:27] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:27] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:27] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:28] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:28] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:28] ---</div>
<div class='progress-msg'>[04:36:28] Record #33</div>
<div class='progress-msg'>[04:36:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:28] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:28] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:29] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:29] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:29] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:29] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:29] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:29] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:30] ---</div>
<div class='progress-msg'>[04:36:30] Record #34</div>
<div class='progress-msg'>[04:36:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:30] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:30] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:30] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:30] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:30] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:30] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:31] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:31] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:31] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:31] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:31] ---</div>
<div class='progress-msg'>[04:36:31] Record #35</div>
<div class='progress-msg'>[04:36:31] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:31] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:31] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:31] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:31] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:31] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:31] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:32] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:32] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:32] ---</div>
<div class='progress-msg'>[04:36:32] Record #36</div>
<div class='progress-msg'>[04:36:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:32] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:32] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:32] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:32] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:32] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:32] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:33] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:33] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:33] ---</div>
<div class='progress-msg'>[04:36:33] Record #37</div>
<div class='progress-msg'>[04:36:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:33] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:33] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:33] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:33] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:33] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:33] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:34] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:34] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:34] ---</div>
<div class='progress-msg'>[04:36:34] Record #38</div>
<div class='progress-msg'>[04:36:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:34] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:34] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:34] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:35] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:35] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:35] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:35] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:35] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:35] ---</div>
<div class='progress-msg'>[04:36:35] Record #39</div>
<div class='progress-msg'>[04:36:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:35] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:35] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:36] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:36] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:36] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:36] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:36] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:36] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:36] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:37] ---</div>
<div class='progress-msg'>[04:36:37] Record #40</div>
<div class='progress-msg'>[04:36:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:37] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:37] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:37] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:37] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:37] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:37] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:38] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:38] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:38] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:38] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:38] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:42] ---</div>
<div class='progress-msg'>[04:36:42] Record #41</div>
<div class='progress-msg'>[04:36:42] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:42] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:42] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:42] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:42] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:42] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:42] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:43] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:43] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:44] ---</div>
<div class='progress-msg'>[04:36:44] Record #42</div>
<div class='progress-msg'>[04:36:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:44] Combine all data for term Chrysler...</div>
<div class='progress-msg'>[04:36:44] Find corresponding article among previously imported for post `Chrysler`...</div>
<div class='progress-msg'>[04:36:44] Duplicate post wasn't found with unique key `Chrysler`...</div>
<div class='progress-msg'>[04:36:44] Applying filter `pmxi_article_data` for `Chrysler`</div>
<div class='progress-msg'>[04:36:44] <b>CREATING</b> `Chrysler` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:45] Associate post `Chrysler` with current import ...</div>
<div class='progress-msg'>[04:36:45] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:45] <b>CREATED</b> `Chrysler` `Taxonomy Term` (ID: 8)</div>
<div class='progress-msg'>[04:36:45] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:45] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:45] ---</div>
<div class='progress-msg'>[04:36:45] Record #43</div>
<div class='progress-msg'>[04:36:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:36:45] Combine all data for term Ford...</div>
<div class='progress-msg'>[04:36:45] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[04:36:45] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[04:36:45] Deleting images for `Ford`</div>
<div class='progress-msg'>[04:36:45] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[04:36:45] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[04:36:46] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[04:36:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[04:36:46] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 7)</div>
<div class='progress-msg'>[04:36:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[04:36:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:36:46] Cleaning temporary data...</div>
