.map-container {
    position: relative;
}

.locations {
    position: absolute;
    bottom: 0;
    left: 150px;
    background: white;
    min-height: 431px;
    border: 5px 5px 0 0;
    width: 25%;
    @media (max-width: 768px) {
        width: 220px;
        min-height: 0px;
        left: 20px;
        height: 350px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      width: 300px;
      min-height: 0px;
      height: 400px;
      left: 50px;
    }
    .logo-container {
        background-color: $color-dark;
        border-radius: 5px 5px 0 0;
    }

    .input-icon {
      position: relative;
      width: 100%;
      margin: 0 auto;
      display: flex;
      border-bottom: 1px solid gray;
      align-items: center;
    }

    .icon-search {
        width: 15px;
        fill: $color-dark;
      }
    
      .input-field {
        padding-left: 30px;
        width: 100%;
        background-color: transparent;
        border: 0;
        color: $color-dark;
        font-size: $input-search;
        outline: $color-dark;
    
        &::placeholder {
          color: $color-light-gray;
        } 
      }

      .body-locations {
        padding: 20px 16.5px;
        .content-location {
          margin-bottom: 1rem;
        }
      }

      .place {
        a {
          color: $color-light-gray;
          font-size: 15px;
          cursor: pointer;
          transition: all 0.2s ease;
          @media (max-width: 768px) {
            font-size: 12px;
          } 
          &:hover {
            color: $color-main;
            text-decoration: none; 
          }
        }
      }
}

.container-location-contact-us {
  font-size: 16px;

  p {
    margin-bottom: 0.6rem;
  }

  .points {
    font-size: 16px;
  }

  .location-name {
    font-size: 30px;
    font-family: $font-secondary;
    font-weight: 500;
    line-height: normal;
  }
  .reviews-count small {
    font-size: 12px;
  }
}

.container-contact-form {

  background-color: $color-background-light; 

  .form-container{
    background-color: white;
  }

  .title-contact-form {
    font-family: $font-primary;
    font-size: 52px;
    letter-spacing: 1.79px;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }

  p {
    font-size: 16px;

    @media (min-width: 1024px){
      width: 65%;
    }
  }

  .wpcf7-form input {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: $color-separators;

    &::placeholder{
      color: $color-separators;
      font-size: 12px;
    }

  }

  .wpcf7-form textarea {
      border-radius: 5px;
      font-size: 16px;
      border-color: $color-separators;
      height: 130px;

      &::placeholder{
        color: $color-separators;
        font-size: 12px;
      }
  }


  .wpcf7-submit {
    color: #161616;
    background: $color-main;
    
    @media (min-width: 1024px){
      width: 50% !important;
    }

    &:hover {
      color: white;
      background-color: $color-main;
    }
  }

  .form-container {
    border-radius: 5px 5px 0;
    border: 1px solid $color-separators;
    .form-header {
      background-color: $color-main;
      padding: 22px 64px;
    }
  }
}


#map {
  width: 100%;
  height: 500px;
}