[data-toggle="collapse"] .fa:before {  
    content: "\f077";
    margin-left: 5px;
}
  
[data-toggle="collapse"].collapsed .fa:before {
    content: "\f078";
    margin-left: 5px;
}

[type="checkbox"] {
    display: none;
}

.filters-title  {
    font-family: Roboto;
    display: flex;
    align-items: center;

    h6 {
        font-size: 12px;
        font-weight: 600;
        margin-left: 5px;
        margin-bottom: 0;
    }

    svg {
        height: 18px;
    }
}

ul.filters{
    margin: 0;
    padding: 25px 0 0;

    li {

        &.filter{
            list-style: none;
            
            .toggle-container {
                margin-bottom: 10px;
            }

            .collapse {
                border: 1px solid transparent;

                &.scroll {
                    max-height: 277px;
                    overflow-y: scroll;
                }
            }

        }
    }
}

.search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 45px;

    .search-bar {
        position: relative;

        i.fas.fa-search {
            position:absolute;
            padding:17px;
            font-size:16px;
            color:#aeb5bd;
        }
    }

    input {
    
        &.search-input {
            width: 500px;
            border-radius: 5px;
            border: 2px solid #bfd440;
            padding-left: 45px;
            font-size:16px;

            &::placeholder {
                color:#aeb5bd;
                font-size:16px;
            }
        }
    }
}

button {

    &.toggle-collapse {
        font-family: Roboto;
        font-weight: 600;
        background-color: #fff;
        color: #000;
        padding: 15px 0px;

        &:focus {
            background: #fff;
            outline: none;
        }

        &:hover {
            background-color: #fff;
            color: #161616;
        }
    }

    &.layout-button {
        background: #fff;
        padding: 10px;

        img {
            height:25px;
        }
    }
}

.filter-separator {
    border: 0;
    margin: 0;
    border-bottom: 1px solid #bfd440;
    text-align: start;
    width: 65px;
}

.category-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    width: 200px;

    &:hover {
        background-color: #bfd440;
    }

    &.selected {
        border: 2px solid #bfd440;
    }

    &.small-spacing {
        padding: 5px;

        p {
            margin-left: 26px;    
        }
    }

    &.colors {
        justify-content: flex-start;

        p {
            margin-left: 26px
        }
    }

    span {
        
        &.item-name {
            color: #585e59;
            font-size: 16px;
        }

        &.circle {
            height: 25px;
            width: 25px;
            background-color: #d8d8d8;
            border-radius: 50%;
            display: inline-table;

            &.black {
                background-color: #000;
            }

            &.white {
                background-color: #fff;
                border: 1px solid #000;
            }

            &.red {
                background-color: #e02020;
            }
        }
    }

    img {

        &.category-img {
            width: 87px;
            @media (min-width: 768px) and (max-width: 1024px){
                width: 50px;
            }
        }

        &.brand-img {
            width: 50px;
            max-height: 40px;
        }

    }

    p {
        text-align: start;
        width: 100%;
        margin: 0;
        margin-left: 8px;
    }

}

.item {
    display: flex;
    justify-content: space-between;
    @media (min-width: 768px) and (max-width: 992px){
        display: grid;
    }

    .info {
        max-width: 200px;
        @media (min-width: 768px) and (max-width: 1024px){
            max-width: 100px;
        }
        p {
            margin-bottom: 10px;
            
            &.name{
                color: #161616;
                font-weight: 500;
                font-size: 12px;

                span {
                    color: #585e59;
                }
            }

            &.price {
                font-size: 16px;
                color: #161616;
                font-weight: 900;
            }

            &.payment {
                font-size: 12px;
                color: #585e59;
                font-weight: 500;
            }
        }
    }
}

.inventory-img {
    max-height: 266px;
    object-fit: contain;
    width: 100%;
}

.load-more-container {
    display: flex;
    justify-content: center;
}

.loader-container {
    background: #ffffff78;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999999;
    position: fixed;
    display: none;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.3s infinite ease-in-out;
    animation: load7 1.3s infinite ease-in-out;
}
.loader {
    color: #a2b436;
    font-size: 16px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
