.not-found {
    .big {
        font-size: 125px;
        letter-spacing: 4.31px;

        @media (max-width: 425px){
            font-size: 65px;
        }
    }

    h1 {
        font-family: $font-primary;
        font-weight: bold;
        font-size: 60px;
        text-align: center;

        @media (max-width: 425px){
            font-size: 30px;
        }
    }

    p {
        font-family: $font-secondary;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        @media (max-width: 425px){
            font-size: 13px;
        }

        a {
            color: $color-main;
        }
    }

    .input-container {
        border-radius: 5px;
        box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.04);
        border: solid 2px $color-main;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        width: 100%;

        svg {
            width: 20px;
            height: 20px;
            fill: $color-main;
            opacity: 0.6;
        }
    }
    
      input {
        border: 0;
        font-size: 14px;
        font-family: $font-secondary;
        font-weight: bold;
        width: 100%;
    }
}