html {
  // scroll-behavior: smooth;
  a:focus {
    outline: none !important;
  }
}

body {
  overflow-x: hidden;

  #page{
    overflow-x: hidden;
  }

  .site-content {
    overflow: initial !important;
  }

  p {
    font-family: $font-secondary;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }

  h1:not(.site-title):before {
    content: none;
  }
}

.bold {
  font-weight: 700;
}

.separator {
  color: $color-separators;
  margin: 0;
  border-top-color: $color-separators;
}

h1::before{
  display: none;
}

.logo {
  width: 184px;
  height: auto;
}

.template-index .site-header {
  background-color: transparent;
}

.site-nav {
  a {
    font-family: $font-secondary;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }
}

#section-header-home {
  background: url("../../dist/images/home-background.jpg");
  background-size: cover;
  position: relative;

  @media (min-width: 1024px) {
    background-position-y: -64px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
  }

  .cta-home {
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
    h1 {
      font-family: $font-primary;
      font-weight: 600;
      font-size: 70px;
      text-transform: uppercase;

      @media (max-width: 425px) {
        font-size: 45px;
      }
    }
  }
  .cta-button {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    text-transform: uppercase;
  }

  .scroll {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    font-family: $font-primary;
    font-size: 12px;
    letter-spacing: 2.7px;

    button {
      margin-top: 12px;
      background: transparent;
      border: none;
      outline: none;
    }
  }
}

.top-bar {
  background-color:#1a1a1a;
  border-bottom: 1px solid rgba(235,235,235,0.4);
  position: relative;
  z-index: 50;

  .mobile-phone-number {
    border-radius: 5px;
    padding: 5px 0;
  }
}

.top-search {
  .icon-search {
    position: absolute;
    top: 33%;
    width: 15px;
    left: 26px;
    fill: $color-main;
  }

  .input-field {
    padding-left: 30px;
    border: 1px solid $color-main;
    background-color: transparent;
    border-radius: 5px;
    color: $color-main;
    font-size: $input-search;
    outline: $color-main;

    &::placeholder {
      color: $color-main;
    } 
  }
}

.social-top {
  li {
    display: inline-block;
    padding: 0 10px;
  }

  .number {
    color: $color-main;
    font-family: $font-secondary;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
  }
}

.hero-letters {
  p {
    font-size: 120px;
    -webkit-text-stroke: 0.5px #9b9b9b;
    white-space: nowrap;
    line-height: 0.9;
    color: rgba(255,255,255,0);
    font-family: $font-primary;
    font-weight: bold;

   .in-stock-hero{
    font-size: 180px;
    }
  }
}

.slider-text-container {
  transform: translate(26%, 0%);
  .car-big {
    margin-bottom: -100px;
    span {
    font-weight: bold;
    font-size: 300px;
    font-family: $font-primary;
    text-transform: uppercase;
    letter-spacing: 12px;
    -webkit-text-stroke: 0.2px #9b9b9b;
    color: rgba(255,255,255,0);
    }
  }

  .slide-text {
    span {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    font-family: $font-primary;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 20px;
    -webkit-text-stroke: 0.5px #9b9b9b;
    color: rgba(255,255,255,0);
    }
  }
}

.right-top-element {
  text-align: right;
}


.top-search{
  
  .btn-search {
    border: 1px solid $color-main;
    border-radius: 5px;
    background-color: rgba(191, 212, 64, 0.1);
    font-size: 12px;
    padding: 0 10px;
    font-family: $font-primary;
    letter-spacing: 0.67px;
    color: #bfd440;
    outline: $color-main;
  }
  
}

.btn-cta {
  padding: 10px 30px;
  border: 1px solid $color-main;
  border-radius: 5px;
  background-color: rgba(191, 212, 64, 0.1);
  font-size: 16px;
  font-family: $font-primary;
  letter-spacing: 0.67px;
  color: $color-main !important;
  outline: $color-main;

  @media (max-width: 425px) {
    padding: 5px 125px;
  }
}

.top {
  margin-top: -120px;
  @media (min-width: 1024px) {
    margin-top: -140px;
  }
}

.green {
  color: $color-main;
}

.container-padding {
  padding: 0 16px;

  @media (min-width: 1024px) {
    padding: 0 79px;
  }
}

.border-y {
  border-bottom: 1px solid rgba(235,235,235,0.4);
  z-index: 9;
}

.pt-6 {
  padding-top: 100px;
}

.mobile-menu-bar {
  @media (max-width: 425px) {
    display: flex !important;
  }
}

.search-mobile {
  background-color: rgba(0,0,0,0.87);
  padding: 10px 0;
}

.copyright {
  text-align: center;
  background: #111111;
  font-family: $font-primary;
  font-weight: bold;
  font-size: 15px;
  color: #fff;

  p {
    color: #fff;
  }
}

.footer {
  background: url("../../dist/images/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .footer-info {
    margin-top: 23px;
    p {
      font-size: 13px;
      font-family: $font-secondary;
      color: #fff;
    }
  }

  .footer-social {
    ul {
      margin: 0;
      padding: 0;
      float: left;
    }
  }

  .footer-menu, .contact-info {

    h3 {
      font-family: $font-primary;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
      font-family: $font-secondary;
      color: #fff;
    }

    .contact-title {
      font-weight: bold;
    }

    li {
      @media (max-width: 425px) {
        display: inline-block;
      }
    }

    li > a {
      font-family: $font-secondary;
      font-size: 14px;
      text-transform: none;
      font-weight: 400;
    }
  }
  .navegation-footer-mobile {
    background: $color-main;
    border-radius: 50px;
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 130px;
    @media (max-width: 1024px) {
      display: block !important;
    }
    img {
      width: 17px;
      height: 17px;
    }
  }
}

.custom-footer-padding {
  @media (min-width: 1024px) {
    padding: 0 147px;
  }
  .row {
    padding: 100px 0px 0px;
  }
}

.pl-md-6 {
  @media (min-width: 700px) {
    padding-left: 6rem !important;
  }
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
  border-color: $color-main !important;
}

.main-menu-more {
  display: none !important;
}

.header-nav {
  border-top: 1px solid rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(255,255,255,0.4);
  position: relative;
  z-index: 2;

  .row {
    min-height: 108px;
  }

  .logo-container {
    img {
      width: 184px;
      height: auto;
    }
  }

  .carloft-menu{
    list-style: none;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;

    a {
      color: $color-menu-primary;
      font-family: $font-secondary;
      font-weight: bold;
      letter-spacing: 0.12px;
    }
  }
}

.cart-icon-container {
  svg {
    fill: $color-menu-primary;
  }
}

.container-header-title {
  min-height: 650px;

  @media (max-width: 425px){
    min-height: 600px;
  }
}
button {
  border-radius: 5px;
  background-color: $color-main;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.67px;
  color: #212121;
  text-transform: uppercase;

  &:hover {
      background-color: #212121;
      color: $color-main;
  }

  &:focus {
    color: $color-main !important;
    outline: none !important;
  }
}

.primary-button {
  border-radius: 5px;
  background-color: $color-main;
  font-family: $font-primary;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.67px;
  color: #212121;
  text-transform: uppercase;

  &:hover {
      background-color: #212121;
      color: $color-main;
  }

  &:focus {
    color: $color-main !important;
  }
}

.carloft-menu {
  display: flex;
  
  li {
    margin-right: 40px;
  }
}

.topnav {
  overflow: hidden;
  position: relative;

  .carloft-menu-mobile {
    display: none;
    list-style: none;
      padding-left: 0;
      
      a {
        color: white;
      }
  }
   a {
    color: white;
    text-decoration: none;
    display: block;
  }
  i {
    color:white;
    padding-left: 20px;
  }
}

.disclaimer {
  font-size: 12px;
  font-family: $font-primary;
  color: $color-light-gray;
  letter-spacing: 1.2px;
}

h2 {
  &:before {
    content: none !important;
  }
}

.fixed-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 61%;
  height: 100%;
  background: $color-dark;
  z-index: 99999;
  padding: 50px 20px;
  transform: translatex(-550px);
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  ul {
    list-style: none;
  }

  a {
    color: white;
    font-weight: 700;
    letter-spacing: .12px;
    text-transform: uppercase;
    font-family: $font-secondary;
  }

  [data-toggle="mobile-menu"]{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 35px;
    transform: rotate(45deg);
    background: none;

    &:focus {
      outline: none !important;
    }
  }
}

.opened-menu {
  transform: translateX(0) !important;
}

.down-links {
  margin: 30px 0px;
  a {
    color: white;
    font-size: 14px;
    font-family: $font-secondary;
    letter-spacing: 0.4px;
  }
  div {
    color: white;
  }
}

.carloft-menu-footer {
  list-style: none;
  padding-left: 0;
  display: grid;

  a {
    color: white;
    font-family: $font-primary;
  }
}

input#make , #model , #year {
  &:focus {
    outline: none;
  }  
}

.category-pc .col-3:nth-child(2) .hover-contain img{
  filter: invert(1);
}

.contact-title {
  a {
    color: white;
  }
}

.contact-1, .contact-5 {
  border-bottom: 1px solid $color-main;
  padding-bottom: 20px;
}

//Phone Header and Footer

  /* Dropdown */

  .dropdown {
    display: inline-block;
    position: relative;
    margin-bottom:0px;
    
    .dd-button {
      display: inline-block;
      border-radius: 4px;
      padding: 0px 10px;
      background-color: transparent;
      cursor: pointer;
      white-space: nowrap;
      border: 1px solid #bfd440;
      &:hover {
        background-color:transparent;
      }
    }
  
    .dd-input {
      display: none;
    }
  
    .dd-menu {
      position: absolute;
      top: 110%;
      border-radius: 4px;
      padding: 0;
      margin: 2px 0 0 0;
      box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
      background-color: #bfd440;
      list-style-type: none;
      border: none;
      width: auto;
      left: -70px;
    }
  
    .dd-input + .dd-menu {
      display: none;
    } 
  
    .dd-input:checked + .dd-menu {
      display: block;
      text-align: center;
    } 
  
    .dd-menu li {
      padding: 10px 20px;
      cursor: pointer;
      white-space: nowrap;
      font-size: 14px;
    }
  
    .dd-menu li:hover {
      background-color: transparent;
    }
  
    .dd-menu li a {
      display: block;
      margin: -10px -20px;
      padding: 10px 20px;
      color: #000;
    }
  
    .dd-menu li a:hover {
      font-weight:bold;
      font-size:15px;
    }
  
    .dd-menu li.divider{
      padding: 0;
      border-bottom: 1px solid #cccccc;
    }
  }

    /* Dropdown Mobile */

    .dropdown-mobile {
      display: inline-block;
      position: relative;
      margin-bottom:0px;
      
      .dd-button {
        display: inline-block;
        border-radius: 4px;
        padding: 10px 80px;
        background-color: transparent;
        cursor: pointer;
        white-space: nowrap;
        border: 1px solid #bfd440;
        &:hover {
          background-color: transparent;
        }
      }
    
      .dd-input {
        display: none;
      }
    
      .dd-menu {
        position: relative;
        top: 110%;
        border-radius: 4px;
        padding: 0;
        margin: 2px 0 0 0;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
        background-color: #bfd440;
        list-style-type: none;
        border: none;
        width: 180px;
      }
    
      .dd-input + .dd-menu {
        display: none;
      } 
    
      .dd-input:checked + .dd-menu {
        display: block;
        text-align: center;
      } 
    
      .dd-menu li {
        padding: 10px 20px;
        cursor: pointer;
        white-space: nowrap;
        font-size: 14px;
      }
    
      .dd-menu li:hover {
        background-color: transparent;
      }
    
      .dd-menu li a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
        color: #000;
      }
    
      .dd-menu li a:hover {
        font-weight:bold;
        font-size:16px;
      }
    
      .dd-menu li.divider{
        padding: 0;
        border-bottom: 1px solid #cccccc;
      }
    }

  
