/**  Fonts **/
$font-primary: 'Oswald', sans-serif;
$font-secondary : 'Roboto', sans-serif;

/**  Colors **/
$color-main: #bfd440;
$color-menu-primary: #FFF;
$color-dark: #1C1C1C;
$color-light-gray: #808080;
$color-separators: #dee2e6;
$color-background-light: #f9f9f9;


/** Font sizes **/
$input-search: 12px;