.banner-promotion {
    min-height:400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    .content {
        p {
            font-family: $font-primary;            
            font-size: 45px;
            color: white;
            font-weight: 200;
            line-height: 60px;
        }

        button {
            padding: 12px 30px;
        }
    }

    @media (max-width: 1024px){
        min-height: 100% !important;
    }
}

 