section.carloft-way {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f9f9f9;
        height: 300px;
    }
    padding: 15px;
    position: relative;
    @media (max-width: 768px) {
        background: #f9f9f9;
    }
    .container {
        padding: 100px 0px;
        position: relative;
        @media (max-width: 768px) {
            padding: 0px;
        }
        .carloft-way-title {
            h2 {
                font-family: $font-primary;
                font-size: 52px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                color: #000000;
                span {
                    font-weight: bold;
                }
            }
        }
        .carloft-way-content {
            .number {
                border-bottom: 3px solid #bfd440;
                margin-bottom: 30px;
                padding: 10px;
                @media (max-width: 768px) {
                    height: 80px;
                    width: 80px;
                }
            }
            .text {
                font-family: $font-secondary;
                font-size: 16px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.55px;
                color: #000000;
            }
            .bottom {
                p{
                    font-family: $font-primary;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.67px;
                    color: #000000;
                    text-transform: uppercase;
                    margin-bottom: 0px;
                }
                .dash {
                    border: 1px solid #000000;
                    width: 35px;
                    height: 0;
                    margin:auto;
                }
            }
        }
        .carloft-way-image {
            padding-left: 10px;
            @media (max-width: 768px) {
                padding: 15px;
            }
            img {
                box-shadow: 5px 5px 9px 0 rgba(0,0,0,.24)
            }
        }
    }
}
