.instagram_perfil
{
    img
    {
        border-radius: 100%;
        width: 72px;
        height: 72px;
        border: solid 0.5px #dddddd;
        background-color: #1d1e1e;
    }
}
.header_instagram
{
    width: 100%;
    padding-bottom: 13px;
    display: flex;
}
.instagram_description
{
    padding-left: 15px; display: flex; justify-content: center; align-items: flex-start; flex-wrap: wrap; flex-direction: column;
    b
    {
        font-family: Oswald;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;        
    }
    p
    {
        width:100%;
        text-align:left;
        color:#ccc;
        margin: 0;
        font-family: Oswald;
        font-size: 13px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #aaaaaa;            
    }
}
.carloftca-slice
{
    min-width:100%;max-width:100%;min-height:100%;display:flex;justify-content:center;align-items:center;flex-wrap:nowrap;text-align:center;flex-direction:row;box-sizing:border-box;padding:0;
    img
    {
        width: 100%; height: 100%; max-width: 100%; max-height: 270px; object-fit: cover;
    }
    a
    {
        padding:3px;display:block;width:20%;
        @media (max-width: 768px)
        {
            min-width: 33%;
        }
    }
}
.custom-carloftca-slider
{
    display:flex;
    flex-wrap:nowrap;
    overflow:hidden;
    margin:0 auto;
    min-width:100%;
    max-width:100%;
    min-height:194px;
    position:relative;
    padding:0;
    box-sizing:content-box;
    // scroll-behavior:smooth;
    overflow: hidden;
}
.carloftca-dots
{
    width:100%;
    list-style:none;
    z-index:1;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-top: 16px;
    .carloftca-dot
    {
        width: 17px;
        height: 17px;
        border-radius: 100%;
        background: transparent;
        border: solid 1px #bfd440;
        margin: 0 4px;
        cursor: pointer;
        padding: 0!important;
        &.actived
        {
            background:#bfd440!important
        }
    }
}
section.categories {
    position: relative;
    margin-bottom: 50px;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f9f9f9;
        height: 300px;
    }
    padding: 0px 0px 100px;
    h3 {
        font-family: $font-primary;
        font-size: 52px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.79px;
        text-align: center;
        color: #000000;
        text-transform: uppercase;
        span {
            font-weight: bold;
        }
        &.pc
        {
            display: inherit;
            margin-bottom: 54px;
            p {
                font-family: $font-primary;
            }
        }
        &.mobile
        {
            display: none;
            margin-bottom: 30px;
            font-size: 40px;
            p {
                font-family: $font-primary;
            }
        }
        @media (max-width: 768px)
        {
            &.pc
            {
                display: none;
            }
            &.mobile
            {
                text-align: left;
                display: inherit;
            }
        }
    }
    .categories
    {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.11);
        margin-bottom: 15px;   
        min-height: 480px;   
        max-height: 480px;
        overflow: hidden;  
        @media (max-width: 768px)
        {
            width: 90%;
        }
        .content
        {
            z-index: 1;
            min-height: 138px;
            .line-categories {
                .dash {
                    border: 1.5px solid #bfd440;
                    width: 35px;
                    height: 0;
                }
            }
            .title-categories {
                h4{
                    font-family: $font-primary;
                    font-size: 20px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.83px;
                    color: #000000;
                    text-transform: uppercase;
                    text-align: left;                    
                }    
                a {
                    font-family: $font-primary;
                    font-size: 15px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.62px;
                    color: #000000;
                    text-transform: uppercase;
                    @media (max-width: 768px)
                    {
                        text-align: left;
                        display: block;
                    }
                }
            }
            .number-categories {
                p
                {
                    width: 20%;
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: #000;
                    opacity: 0.68;
                    -webkit-text-stroke: 0.5px #000000;
                    font-family: Oswald;
                    font-size: 48px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 2px;
                    color: rgba(0, 0, 0, 0.01);
                }
            }
        }       
        .hover-contain
        {
            display: flex!important;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            background: rgba(0,0,0,0.6);
            padding: 50px;
            width: 100%;
            height: 100%;   
            transition: all 0.6s ease;         
            h5,p
            {
                display: none;
            }
            &:hover
            {
                h5,p
                {
                    display: inherit;
                }              
            }
            @media (max-width: 768px)
            {
                display: flex;
                height:100%;
                h5,p
                {
                    display: none;
                }
            }            
            img
            {
              width: 70px;
            }
            .sub-title
            {
              font-family: Oswald;
              font-size: 20px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 1.25px;
              color: #ffffff;
            }
            p
            {
              font-family: Helvetica;
              font-size: 16px;
              font-weight: 300;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.31;
              letter-spacing: 0.55px;
              text-align: center;
              color: #ffffff;
            }               
        }
        &:hover .hover-contain
        {
            display: flex !important;            
        }             
        .image
        {
            height: 342px;
            width: 100%;
            background-blend-mode: darken;
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: center;
            background-position-y: center;
            background-color: #fff;
            z-index:999;
            transition: all 0.6s ease; 
            // &:hover
            // {
            //     min-height:480px;
            //     transition: all 0.6s ease;     
            // }    
            &.order-2
            {
                // &:hover
                // {
                //     margin-top: -138px;
                //     @media (max-width: 768px)
                //     {
                //         background-position-y: 0;
                //         margin-top: 138px;
                //         .hover-contain
                //         {
                //             margin-top: -138px;
                //         }
                //     }
                // }                
            }   
            &.order-1
            {
                // &:hover
                // {
                //     background-position-y: 0;
                //     margin-top: 138px;
                //     .hover-contain
                //     {
                //         margin-top: -138px;
                //     }
                // }
            }                 
        }
        @media (max-width: 768px)
        {
            .content.d-flex.order-1,.content.d-flex.order-2
            {
                order: 2 !important;
            }
            .image.order-2,.image.order-1
            {
                order: 1 !important;
            }
        }         
    }
    .category-pc
    {
        display: inherit;
        @media (max-width: 768px)
        {
            display: none;
        }        
    }
    .custom-carloft-slider
    {
        display: none;
        @media (max-width: 768px)
        {
            display: flex;
        }
        .categories
        {
            .order-1,.order-2
            {
                order: 1 !important;
            }
        }
    }
    .carloft-slice
    {
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 20px;
      @media (max-width: 768px)
      {
        padding:0;
      }      
    }  
    .custom-carloft-slider
    {
      flex-wrap: nowrap;
      overflow: hidden;
      margin: 0 auto;
      min-width: 40%;
      max-width: 500px;
      min-height: 194px;
      position: relative;
      padding: 0;
      box-sizing: content-box;
    //   scroll-behavior: smooth;
    } 
    .carloft-dots
    {
        margin-top: 10px;
        width: 100%;
        list-style: none;
        z-index: 1;
        display: none;
        @media (max-width: 768px)
        {
            display: flex;
        } 
        justify-content: center;
        align-items: center;
        padding: 0 !important;
        .carloft-dot
        {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: transparent;
            border: solid 1px #bfd440;
            margin: 0 4px;
            cursor: pointer;
            padding: 0 !important;
            &.actived
            {
                background: #bfd440 !important;
            } 
        }       
    } 
}

.swipe-by-category {
    display: block;
    .categories {
        width: 100% !important;
    }
}
