section.how-it-works {
    .container {
        padding: 80px 0px;
        text-align: center;
        .how-it-works-title {
            h2 {
                font-family: $font-primary;
                font-size: 52px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1.79px;
                color: #ffffff;
                margin-bottom: 0px;

                span {
                    font-weight: bold;
                }
            }
            p {
                font-family: $font-secondary;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
                margin-bottom: 70px;
            }
        }
        .how-it-works-content {
            .how-it-works-mobile {
                margin-bottom: 50px;
            }
            p {
                min-height: 150px;
                @media (min-width: 768px) and (max-width: 1024px) {
                    min-height: 0px;
                }
            }
        }

        h3 {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            font-family: $font-primary;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.83px;
            color: #ffffff;
            margin: 20px 0px 10px;

        }

        p {
            font-family: $font-secondary;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.67px;
            text-align: center;
            color: #ffffff;
            padding: 20px 30px 30px;
        }
    }
}

