section.make-dreams {
    .make-dreams {
        min-height:400px;
        background-size: cover;
        .content {
            p {
                font-family: $font-primary;
                font-size: 45px;
                color: white;
                font-weight: 200;
                line-height: 60px;

                span {
                    font-weight: bold;
                }
            }
            button {
                padding: 15px 30px;
            }
        }
    }
}

