body {
    .modal-content {
        border-radius: 0;
        border: none;

        .close {
            position: absolute;
            top: 10px;
            right: 20px;
            z-index: 9999;

            &:hover {
                background: none;
            }
        }

        .submit-form-steps {
            input {
                border-radius: 5px;
                background-color: #bfd440;
                font-family: Oswald,sans-serif;
                font-size: 16px;
                font-weight: 700;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: .67px;
                color: #212121;
                padding: 10px 30px;
            }
        }
    }

    .modal-dialog {
        max-width: 95%;
        overflow: hidden;
    }

    .modal-body {
        overflow: hidden;
        padding: 0;
    }
}

.icon-input {
    width: 24px;
    height: auto;
    object-fit: cover;
}

.icon-fill {
    transform: scale(0.5);
}

.form-steps {

    .input-container {
        border: 1px solid $color-separators;
        border-radius: 5px;
        padding: 10px;
    }

    input, textarea {
        border: 0;
        font-size: 15px;

        &::placeholder{
            font-size: 15px;
        }
    }
}

[data-form="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.last-step {
    background: #201f1f;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;

    .oswald {
        color: white;
        text-align: center;
        font-size: 40px;
        font-family: $font-primary;
        
        span {
            font-family: $font-secondary;
            font-weight: bold;
        }
    }
}

.image-modal {
    position: relative;
    background-size: cover !important;

    .separator-modal {
        position: absolute;
        top: 0;
        right: -35px;
        display: none;

        @media (min-width: 1024px){
            display: block;
        }
    }
}