section.privacy-policy {
    padding: 50px 20px;
    .container {
        h3 {
            font-family: $font-primary;
            font-size: 52px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.79px;
            color: #000000;
        }
        p {
            font-family: $font-secondary;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.55px;
            color: #000000;
        }
    }
}
section.terms-conditions {
    padding: 50px 20px;
    .container {
        h3 {
            font-family: $font-primary;
            font-size: 52px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.79px;
            color: #000000;
        }
        p {
            font-family: $font-secondary;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.55px;
            color: #000000;
        }
    }
}
