section.our-clients {
    .container {
        padding-top: 100px;
        padding-bottom: 100px;
        .title-our-clients {
            p {
                font-family: $font-primary;
                font-size: 52px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1.79px;
                color: #000000;
                text-transform: uppercase;
                @media (max-width: 768px) {
                    font-size: 40px;
                    margin-bottom: 50px;
                }
                @media (min-width: 769px) and (max-width:964px) {
                    text-align: center !important;
                }
                span {
                    font-weight: bold;
                }
            }
        }
    }
}