section.our-donations {
    .container {
        padding-top: 100px;
        padding-bottom: 100px;
        .title-our-donations {
            p {
                font-family: $font-primary;
                font-size: 52px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1.79px;
                color: #000000;
                text-transform: uppercase;
                span {
                    font-weight: bold;
                }
            }
        }
        .content-our-donations {
            font-family: $font-secondary;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.55px;
            color: #000000;
        }
        .percent-our-donations {
            font-family: $font-primary;
            font-size: 20px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.69px;
            color: #000000;
        }
    }
}

.header-slider {
    position: relative;
    padding: 1rem;
    .dash {
        border: 1px solid #bfd440;
        width: 30px;
        height: 0;
        @media (max-width: 767px) {
            width: 30px;
        }
    }
    .number {
        font-size: 40px;
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: 'Oswald';
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0.5px #000000;
    }
}