.our-donation-slider {
    .header-slider {
        border: 1px solid #f9f9f9;
    }
    .header-title {
        font-size: 20px;
        font-family: $font-primary;
        letter-spacing: 0.83px;
        font-weight: bold;
    }

    small {
        font-size: 15px;
        font-family: $font-primary;;
    }

    .donation-slide {
        img {
            width: 100%;
        }
    }

    .slick-arrow {
        visibility: hidden;
        opacity: 0;
    }
}

.controls-slick-customs {
    padding-left: 40px;
    .arrow {
        svg {
            width: 40px;
            height: 40px;
            cursor: pointer;

            &:hover {
                color: $color-main;
                fill: $color-main;
            }
        }
    }
}

.slick-dots {
	position: absolute;
	bottom: -45px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 20px;
	height: 20px;
	font-family: "slick";
	font-size: 40px;
	line-height: 5px;
	text-align: center;
	color: $color-main;
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	color: $color-main;
	opacity: 0.75;
}