.slider-cta-title {
    font-size: 52px;
    font-family: $font-primary;
    font-weight: bold;
    letter-spacing: 1.79px;
    text-align: center;
    text-transform: uppercase;

    p {
        font-size: 52px;
        font-family: $font-primary;
        font-weight: bold;
        letter-spacing: 1.79px;
        text-align: center;
        text-transform: uppercase; 
    }

    @media (min-width: 1024px){
        width: 70%;
    }

    @media (max-width: 425px){
        font-size: 40px;
    }
}

.slider-cta-subheading {
    letter-spacing: 2px;
    font-family: $font-primary;
}

.slider-cta-button {
    position: relative;
    z-index: 100;
    padding: 12px 70px;
   button {
    box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.1);
   }
}

.oswald {
    font-family: $font-primary;
    font-weight: 300;
}

.slider-cta-subheading {
    font-family: $font-primary;
    letter-spacing: 1.4px;
    color: $color-dark;
    font-size: 14px;
    font-weight: 300;

    @media (min-width: 1024px){
        letter-spacing: 2px;
        font-size: 20px;
    }
}


.slider-cta-wrapper {
    height: 500px;
    padding: 20px 0;
    position: relative;

    #carousel {
        width: 100%;
        height: 100%;

        .cloud9-item {
            width: auto;
            height: auto;
            max-height: 430px;
            max-width: 430px;
            filter: blur(1.8px);
            transition: filter 0.2s ease-in-out;
        }

        .front {
            filter: none !important;
        }
    }

    #slider-buttons{
        position: absolute;
        top: 0;
        left: 0;
        height: 287px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        z-index: 70;
        
        button {
            background: none;

            &:focus {
                outline: none;
            }
        }
        
        .left {
            position: absolute;
            left: -40px;
            svg {
                fill: #aaaaaa;
                transition: all 0.2s linear;

                &:hover {
                    fill: $color-main;
                }
            }
        }

        .right {
            position: absolute;
            right: -40px;

            svg {
                fill: #aaaaaa;
                transition: all 0.2s linear;

                &:hover {
                    fill: $color-main;
                }
            }

        }
    }
}

.swipe-by-category {
    display: block;
    .categories {
        width: 100% !important;
    }
}