.tabs {
    overflow: hidden;
  
    .controls {
      display: flex;
      justify-content: center;

      @media (max-width: 425px){
        flex-direction: column-reverse;
      }

      button {
        padding: 17px 90px;
        margin-right: 20px;

        @media (max-width: 768px){
          margin-right: 0;
          margin-bottom: 20px;

          &:first-child {
            margin-bottom: 0;
          }
        }
      }
    }
  
    .tabs-container {
      display: flex;
      flex-wrap: nowrap;
      transform: translatex(0);
      transition: all 0.2s linear;
  
      .tab {
        width: 100%;
        flex-shrink: 0;
        overflow: hidden;
      }
    }
}

.progress-bar{
    width: 100%;
    margin-bottom: 40px;
    background: $color-separators;

    .progress {
        width: 0%;
        height: 7px;
        background: $color-main;
        transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.prev {
  display: none;
}


.boxed label {
  display: inline-block;
  padding: 20px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.04);
  border: solid 2px #e6e6e6;
  font-family: $font-primary;
  transition: all 0.3s;
  text-align: center;
  font-size: 14px;
  min-width: 240px;
}

.boxed input[type="radio"] {
  display: none;
  transition: all 0.2s ease;
}

.boxed input[type="radio"]:checked + label {
  background: $color-main;
  color: $color-dark;
}

.step-page {

  fieldset {
    .d-flex {
      @media (max-width: 768px){
        flex-direction: column;
        align-items: center;
      }
    }
  }

  h3 {
    font-family: $font-secondary;
    font-weight: bold;
    font-size: 52px;
    letter-spacing: 1.79px;
    text-align: center;

    @media (max-width: 768px){
      text-align: center;
      font-size: 40px;
    }

    span {
      font-family: $font-primary;
      font-weight: 300;

      @media (max-width: 768px){
        text-align: center;
        font-size: 40px;
      }
    }
  }

  p {
    margin: 0;
    color: $color-light-gray;
    font-family: $font-primary;
    font-size: 20px;
    text-align: center;
  }
}

.numbers {
  .input-container {
    border-radius: 5px;
    box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.04);
    border: solid 2px $color-separators;
    padding: 10px 40px;
    min-width: 300px;

    @media (max-width: 768px){
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    label {
      font-family: $font-primary;
      color: $color-dark;
      font-weight: bold;
      font-size: 14px;
      padding-left: 30px;
      font-weight: bold;
      border-left: 2px solid $color-separators;
    }

    input {
      border: 0;
      width: 100px;
      font-size: 14px;
    }
  }
}

.location-input, #congrats{
  .input-container {
    border-radius: 5px;
    box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.04);
    border: solid 2px $color-main;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
  }

  input {
    border: 0;
    font-size: 14px;
    font-family: $font-secondary;
    font-weight: bold;
    width: 100%;
  }
}

.income-container {
  flex-wrap: wrap;
  margin: 0 auto;

  @media (min-width: 1024px){
    width: 50%;
  }
}

#congrats {

  h3 {
    font-size: 52px;
    font-family: $font-secondary;
    font-weight: bold;
  }

  .sub-heading {
    color: $color-light-gray;
    font-size: 20px;
    font-family: $font-primary;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 1024px){
      width: 57%;
    }
  }

  p {
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
    .bold {
      font-weight: bold;
    }
  }

 #congrats-form{
   .input-container{
     border-color: $color-separators;
   }
 }

  .modal-dialog {
    @media (min-width: 1024px){
      max-width: 612px;
    }
  }
}

.congrats-modal {
  h3 {
    font-family: $font-primary !important;
    letter-spacing: 1.5px !important;
  }
  img {
    margin: 30px 0px;
  }
}