
section.we-pay {
    text-align: center;
    height: 750px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width: 767px) {
            padding: 0px;
            height: 600px;
        }    
    .we-pay-title {
        h2 {
            font-size: 50px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.79px;
            color: #000000;
            font-family: $font-primary;
            text-transform: uppercase;
            @media (max-width: 767px) {
                font-size: 30px;
              }
        }
        span {
            color: $color-main;
            font-weight: 400;
        }
        .we-pay-line {
            @media (max-width: 767px) {
                font-size: 24px;
                letter-spacing: 1px;
              }
        }
    } 
    .container {
        .we-pay-subtitle {
            width: 60%;
            margin: auto;
            background-repeat: no-repeat;
            background-position: center;
            height: auto;
            @media (max-width: 767px) {
                width: 100%;
            }
            @media (min-width: 768px) and (max-width: 964px) {
                width: 100%;
            }
            @media (min-width: 1024px) and (max-width: 1200px) {
                width: 70%;
            }
            .content-subtitle {
                display: flex;
                @media (max-width: 767px) {
                    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.11);
                    margin: 0px;
                }
                .dash {
                    border: 1px solid #bfd440;
                    width: 45px;
                    height: 0;
                    @media (max-width: 767px) {
                        width: 30px;
                    }
                }
                .we-pay-text {
                    @media (max-width: 767px) {
                        padding: 0px;
                    }
                    h2 {
                        font-family: $font-primary;
                        font-size: 30px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: 1.25px;
                        color: #000000;
                        text-align: initial;
                        padding: 30px 0px;
                        @media (max-width: 767px) {
                            font-size: 20px;
                            text-align: end;
                        }
                        @media (min-width: 768px) and (max-width: 1024px) {
                            font-size: 25px;
                            text-align: initial;
                        }
                    }
                }
                .we-pay-number {
                    text-align: right;
                    @media (max-width: 767px) {
                        text-align: initial;
                    }
                }
            }
        }
        .we-pay-content {
            position: relative;
            text-align: center;   
            button {
                position: absolute;
                bottom: 20px;
                left: 208px;
                box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.24);
                @media (max-width: 767px) {
                    bottom: -30px;
                    left: 100px;                
                }
                @media (min-width: 768px) and (max-width: 964px) {
                    left: 0px; 
                }
                @media (min-width: 1024px) and (max-width: 1200px) {
                    left: 120px; 
                }
                
            }
            img {
                min-height:300px;
                object-fit: cover;
            }
        }
    }      
}   


