section.welcome-carloft {
    .container {
        padding:100px 0px;
        @media (max-width: 768px) {
            padding: 15px;
        }
        .main-welcome-carloft {
            padding: 15px;
            .content-welcome-carloft {
                padding-left: 60px;
                @media (max-width: 768px) {
                    padding: 0px;
                }
                h2 {
                    font-family: $font-primary;
                    font-size: 52px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 1.79px;
                    color: #000000;
                    text-transform: uppercase;
                    width: 50%;
                    span {
                        font-weight: bold;
                    }
                }  
                p {
                    font-family: $font-secondary;
                    font-size: 16px;
                    font-weight: 100;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.55px;
                    color: #000000;
                }         
            }
                
        }
        .image-welcome-carloft {
            background-size: auto;
            padding: 20px;
            background-repeat: no-repeat;
        }
    }
}

.vertical-content  {
    hr {
        width: 1px;
        height: 140px;
        background: #dee2e6;
        margin-bottom: 40px;
    }
}
.vertical {
    -webkit-transform: rotate(-90deg);
    white-space: nowrap;
    width: 300px;
    height: 320px;
    text-transform: uppercase;
    font-family: Oswald,sans-serif;
    font-size: 52px;
    font-weight: bold;
    color: #dee2e6 ;
    letter-spacing: 4px;
}