<div class='progress-msg'>Thu, 08 Oct 2020 13:19:27 +0000</div>
<div class='progress-msg'>[13:19:27] Composing titles...</div>
<div class='progress-msg'>[13:19:27] Composing parent terms...</div>
<div class='progress-msg'>[13:19:27] Composing terms slug...</div>
<div class='progress-msg'>[13:19:27] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:19:27] Composing authors...</div>
<div class='progress-msg'>[13:19:27] Composing slugs...</div>
<div class='progress-msg'>[13:19:27] Composing menu order...</div>
<div class='progress-msg'>[13:19:27] Composing contents...</div>
<div class='progress-msg'>[13:19:27] Composing dates...</div>
<div class='progress-msg'>[13:19:27] Composing custom parameters...</div>
<div class='progress-msg'>[13:19:27] Composing URLs for images...</div>
<div class='progress-msg'>[13:19:27] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:19:27] Composing post comments...</div>
<div class='progress-msg'>[13:19:27] Composing unique keys...</div>
<div class='progress-msg'>[13:19:27] Processing posts...</div>
<div class='progress-msg'>[13:19:27] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:19:27] ---</div>
<div class='progress-msg'>[13:19:27] Record #1</div>
<div class='progress-msg'>[13:19:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:27] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:27] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:27] Duplicate post wasn't found with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:27] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:27] <b>CREATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:27] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:27] <b>CREATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:27] ---</div>
<div class='progress-msg'>[13:19:27] Record #2</div>
<div class='progress-msg'>[13:19:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:27] Combine all data for term Van...</div>
<div class='progress-msg'>[13:19:27] Find corresponding article among previously imported for post `Van`...</div>
<div class='progress-msg'>[13:19:27] Duplicate post wasn't found with unique key `Van`...</div>
<div class='progress-msg'>[13:19:27] Applying filter `pmxi_article_data` for `Van`</div>
<div class='progress-msg'>[13:19:27] <b>CREATING</b> `Van` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:27] Associate post `Van` with current import ...</div>
<div class='progress-msg'>[13:19:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:28] <b>CREATED</b> `Van` `Taxonomy Term` (ID: 4)</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:28] ---</div>
<div class='progress-msg'>[13:19:28] Record #3</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:28] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:28] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:28] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:28] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:28] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:28] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:28] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:28] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:28] ---</div>
<div class='progress-msg'>[13:19:28] Record #4</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:28] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:28] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:28] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:28] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:28] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:28] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:28] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:28] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:28] ---</div>
<div class='progress-msg'>[13:19:28] Record #5</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:28] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:28] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:28] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:28] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:28] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:28] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:28] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:28] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:28] ---</div>
<div class='progress-msg'>[13:19:28] Record #6</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:28] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:28] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:28] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:28] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:28] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:28] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:28] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:28] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:28] ---</div>
<div class='progress-msg'>[13:19:28] Record #7</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:28] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:28] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:28] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:28] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:28] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:28] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:28] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:28] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:28] ---</div>
<div class='progress-msg'>[13:19:28] Record #8</div>
<div class='progress-msg'>[13:19:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:28] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:28] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:28] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:28] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:28] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:28] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:28] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:29] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:29] ---</div>
<div class='progress-msg'>[13:19:29] Record #9</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:29] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:29] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:29] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:29] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:29] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:29] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:29] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:29] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:29] ---</div>
<div class='progress-msg'>[13:19:29] Record #10</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:29] Combine all data for term Van...</div>
<div class='progress-msg'>[13:19:29] Find corresponding article among previously imported for post `Van`...</div>
<div class='progress-msg'>[13:19:29] Duplicate post was found for post Van with unique key `Van`...</div>
<div class='progress-msg'>[13:19:29] Deleting images for `Van`</div>
<div class='progress-msg'>[13:19:29] Applying filter `pmxi_article_data` for `Van`</div>
<div class='progress-msg'>[13:19:29] <b>UPDATING</b> `Van` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:29] Associate post `Van` with current import ...</div>
<div class='progress-msg'>[13:19:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:29] <b>UPDATED</b> `Van` `Taxonomy Term` (ID: 4)</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:29] ---</div>
<div class='progress-msg'>[13:19:29] Record #11</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:29] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:29] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:29] Duplicate post wasn't found with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:29] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:29] <b>CREATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:29] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:29] <b>CREATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:29] ---</div>
<div class='progress-msg'>[13:19:29] Record #12</div>
<div class='progress-msg'>[13:19:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:29] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:29] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:29] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:29] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:29] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:29] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:29] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:30] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:30] ---</div>
<div class='progress-msg'>[13:19:30] Record #13</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:30] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:30] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:30] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:30] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:30] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:30] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:30] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:30] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:30] ---</div>
<div class='progress-msg'>[13:19:30] Record #14</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:30] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:30] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:30] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:30] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:30] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:30] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:30] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:30] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:30] ---</div>
<div class='progress-msg'>[13:19:30] Record #15</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:30] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:30] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:30] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:30] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:30] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:30] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:30] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:30] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:30] ---</div>
<div class='progress-msg'>[13:19:30] Record #16</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:30] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:30] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:30] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:30] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:30] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:30] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:30] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:30] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:30] ---</div>
<div class='progress-msg'>[13:19:30] Record #17</div>
<div class='progress-msg'>[13:19:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:30] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:30] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:30] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:30] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:30] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:30] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:31] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:31] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:31] ---</div>
<div class='progress-msg'>[13:19:31] Record #18</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:31] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:31] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:31] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:31] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:31] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:31] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:31] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:31] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:31] ---</div>
<div class='progress-msg'>[13:19:31] Record #19</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:31] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:31] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:31] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:31] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:31] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:31] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:31] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:31] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:31] ---</div>
<div class='progress-msg'>[13:19:31] Record #20</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:31] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:31] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:31] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:31] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:31] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:31] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:31] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:31] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:31] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:32] ---</div>
<div class='progress-msg'>[13:19:32] Record #21</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:32] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:32] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:32] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:32] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:32] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:32] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:32] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:32] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:32] ---</div>
<div class='progress-msg'>[13:19:32] Record #22</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:32] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:32] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:32] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:32] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:32] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:32] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:32] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:32] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:32] ---</div>
<div class='progress-msg'>[13:19:32] Record #23</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:32] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:32] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:32] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:32] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:32] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:32] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:32] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:32] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:32] ---</div>
<div class='progress-msg'>[13:19:32] Record #24</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:32] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:32] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:32] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:32] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:32] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:32] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:32] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:32] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:33] ---</div>
<div class='progress-msg'>[13:19:33] Record #25</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:33] Combine all data for term Van...</div>
<div class='progress-msg'>[13:19:33] Find corresponding article among previously imported for post `Van`...</div>
<div class='progress-msg'>[13:19:33] Duplicate post was found for post Van with unique key `Van`...</div>
<div class='progress-msg'>[13:19:33] Deleting images for `Van`</div>
<div class='progress-msg'>[13:19:33] Applying filter `pmxi_article_data` for `Van`</div>
<div class='progress-msg'>[13:19:33] <b>UPDATING</b> `Van` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:33] Associate post `Van` with current import ...</div>
<div class='progress-msg'>[13:19:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:33] <b>UPDATED</b> `Van` `Taxonomy Term` (ID: 4)</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:33] ---</div>
<div class='progress-msg'>[13:19:33] Record #26</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:33] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:33] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:33] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:33] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:33] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:33] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:33] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:33] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:33] ---</div>
<div class='progress-msg'>[13:19:33] Record #27</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:33] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:33] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:33] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:33] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:33] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:33] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:33] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:33] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:33] ---</div>
<div class='progress-msg'>[13:19:33] Record #28</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:33] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:33] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:33] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:33] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:33] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:33] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:33] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:33] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:33] ---</div>
<div class='progress-msg'>[13:19:33] Record #29</div>
<div class='progress-msg'>[13:19:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:33] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:33] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:33] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:33] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:33] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:33] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:33] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:34] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:34] ---</div>
<div class='progress-msg'>[13:19:34] Record #30</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:34] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:34] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:34] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:34] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:34] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:34] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:34] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:34] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:34] ---</div>
<div class='progress-msg'>[13:19:34] Record #31</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:34] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:34] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:34] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:34] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:34] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:34] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:34] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:34] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:34] ---</div>
<div class='progress-msg'>[13:19:34] Record #32</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:34] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:34] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:34] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:34] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:34] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:34] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:34] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:34] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:34] ---</div>
<div class='progress-msg'>[13:19:34] Record #33</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:34] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:34] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:34] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:34] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:34] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:34] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:34] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:34] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:34] ---</div>
<div class='progress-msg'>[13:19:34] Record #34</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:34] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:34] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:34] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:34] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:34] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:34] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:34] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:34] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:34] ---</div>
<div class='progress-msg'>[13:19:34] Record #35</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:34] Combine all data for term Van...</div>
<div class='progress-msg'>[13:19:34] Find corresponding article among previously imported for post `Van`...</div>
<div class='progress-msg'>[13:19:34] Duplicate post was found for post Van with unique key `Van`...</div>
<div class='progress-msg'>[13:19:34] Deleting images for `Van`</div>
<div class='progress-msg'>[13:19:34] Applying filter `pmxi_article_data` for `Van`</div>
<div class='progress-msg'>[13:19:34] <b>UPDATING</b> `Van` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:34] Associate post `Van` with current import ...</div>
<div class='progress-msg'>[13:19:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:34] <b>UPDATED</b> `Van` `Taxonomy Term` (ID: 4)</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:34] ---</div>
<div class='progress-msg'>[13:19:34] Record #36</div>
<div class='progress-msg'>[13:19:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:34] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:34] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:34] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:34] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:34] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:34] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:35] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:35] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:35] ---</div>
<div class='progress-msg'>[13:19:35] Record #37</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:35] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:35] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:35] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:35] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:35] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:35] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:35] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:35] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:35] ---</div>
<div class='progress-msg'>[13:19:35] Record #38</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:35] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:35] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:35] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:35] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:35] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:35] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:35] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:35] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:35] ---</div>
<div class='progress-msg'>[13:19:35] Record #39</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:35] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:35] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:35] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:35] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:35] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:35] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:35] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:35] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:35] ---</div>
<div class='progress-msg'>[13:19:35] Record #40</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:35] Combine all data for term SUV...</div>
<div class='progress-msg'>[13:19:35] Find corresponding article among previously imported for post `SUV`...</div>
<div class='progress-msg'>[13:19:35] Duplicate post was found for post SUV with unique key `SUV`...</div>
<div class='progress-msg'>[13:19:35] Deleting images for `SUV`</div>
<div class='progress-msg'>[13:19:35] Applying filter `pmxi_article_data` for `SUV`</div>
<div class='progress-msg'>[13:19:35] <b>UPDATING</b> `SUV` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:35] Associate post `SUV` with current import ...</div>
<div class='progress-msg'>[13:19:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:35] <b>UPDATED</b> `SUV` `Taxonomy Term` (ID: 3)</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:36] ---</div>
<div class='progress-msg'>[13:19:36] Record #41</div>
<div class='progress-msg'>[13:19:36] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:36] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:36] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:36] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:36] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:36] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:36] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:36] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:36] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:36] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:36] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:36] ---</div>
<div class='progress-msg'>[13:19:36] Record #42</div>
<div class='progress-msg'>[13:19:36] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:36] Combine all data for term Car...</div>
<div class='progress-msg'>[13:19:36] Find corresponding article among previously imported for post `Car`...</div>
<div class='progress-msg'>[13:19:36] Duplicate post wasn't found with unique key `Car`...</div>
<div class='progress-msg'>[13:19:36] Applying filter `pmxi_article_data` for `Car`</div>
<div class='progress-msg'>[13:19:36] <b>CREATING</b> `Car` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:36] Associate post `Car` with current import ...</div>
<div class='progress-msg'>[13:19:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:36] <b>CREATED</b> `Car` `Taxonomy Term` (ID: 6)</div>
<div class='progress-msg'>[13:19:36] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:36] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:36] ---</div>
<div class='progress-msg'>[13:19:36] Record #43</div>
<div class='progress-msg'>[13:19:36] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:19:36] Combine all data for term Truck...</div>
<div class='progress-msg'>[13:19:36] Find corresponding article among previously imported for post `Truck`...</div>
<div class='progress-msg'>[13:19:36] Duplicate post was found for post Truck with unique key `Truck`...</div>
<div class='progress-msg'>[13:19:36] Deleting images for `Truck`</div>
<div class='progress-msg'>[13:19:36] Applying filter `pmxi_article_data` for `Truck`</div>
<div class='progress-msg'>[13:19:36] <b>UPDATING</b> `Truck` `Taxonomy Term`</div>
<div class='progress-msg'>[13:19:36] Associate post `Truck` with current import ...</div>
<div class='progress-msg'>[13:19:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:19:36] <b>UPDATED</b> `Truck` `Taxonomy Term` (ID: 5)</div>
<div class='progress-msg'>[13:19:36] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:19:36] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:19:36] Cleaning temporary data...</div>
