<div class='progress-msg'>Thu, 08 Oct 2020 04:43:00 +0000</div>
<div class='progress-msg'>[04:43:00] Composing titles...</div>
<div class='progress-msg'>[04:43:00] Composing excerpts...</div>
<div class='progress-msg'>[04:43:00] Composing duplicate indicators...</div>
<div class='progress-msg'>[04:43:00] Composing authors...</div>
<div class='progress-msg'>[04:43:00] Composing slugs...</div>
<div class='progress-msg'>[04:43:00] Composing menu order...</div>
<div class='progress-msg'>[04:43:00] Composing contents...</div>
<div class='progress-msg'>[04:43:00] Composing dates...</div>
<div class='progress-msg'>[04:43:00] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[04:43:00] Composing terms for `Brands` taxonomy...</div>
<div class='progress-msg'>[04:43:00] Composing terms for `Colors` taxonomy...</div>
<div class='progress-msg'>[04:43:00] Composing custom parameters...</div>
<div class='progress-msg'>[04:43:00] Composing URLs for images...</div>
<div class='progress-msg'>[04:43:00] Composing URLs for attachments files...</div>
<div class='progress-msg'>[04:43:00] Composing post comments...</div>
<div class='progress-msg'>[04:43:00] Composing unique keys...</div>
<div class='progress-msg'>[04:43:00] Processing posts...</div>
<div class='progress-msg'>[04:43:00] Data parsing via add-ons...</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #1</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9F65LUA01705`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #2</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTBR1X87LKA05673`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #3</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9F68LUA16702`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #4</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9F67LUA01706`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #5</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9H60LUA16707`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #6</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9F6XLUA16703`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #7</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMSK8DH7LGB68839`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #8</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9F66LUA16701`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #9</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9G61LUA87206`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #10</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-NM0LS7T23L1468507`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #11</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTEW1E59LFB91742`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #12</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9H94LUB45995`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #13</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMSK8DH9LGB87036`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #14</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTFX1E45LFB72338`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #15</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9H97LUA62948`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #16</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9H98LUB21053`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #17</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9G60LUB51476`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #18</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FT8W3DT1LED80903`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #19</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTFX1E58LKE83021`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #20</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-2FMPK4J98LBA63598`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #21</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9H96LUA87100`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #22</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTEW1E49LKE89321`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #23</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTEW1E57LKE51028`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #24</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTEW1E56LKE51019`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #25</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FDWE4FK4MDC06329`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #26</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9H94LUB50906`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #27</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-2FMPK4J95LBA80388`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #28</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTEW1E47LFB72422`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #29</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTEW1E51LKE30367`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #30</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTMF1CB8LKE98329`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #31</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTFW1E43LFC68441`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #32</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-MAJ6S3JL8LC372998`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #33</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-MAJ6S3GL0LC374249`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #34</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9G67LUB51782`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #35</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-NM0LS7V21L1482113`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #36</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMJU1MTXLEA67890`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #37</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FMCU9J95LUB76277`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #38</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FT7W2B60LEE00819`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #39</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-1FTEW1EP7LFB91739`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:00] ---</div>
<div class='progress-msg'>[04:43:00] Record #40</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:00] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:00] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:00] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:00] Duplicate post wasn't found with unique key `Ford-2FMPK4K91LBB20917`...</div>
<div class='progress-msg'>[04:43:00] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:00] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:00] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:01] ---</div>
<div class='progress-msg'>[04:43:01] Record #41</div>
<div class='progress-msg'>[04:43:01] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:01] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:01] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:01] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:01] Duplicate post wasn't found with unique key `Ford-1FTEW1EP2LKE20982`...</div>
<div class='progress-msg'>[04:43:01] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:01] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:01] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:01] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:01] ---</div>
<div class='progress-msg'>[04:43:01] Record #42</div>
<div class='progress-msg'>[04:43:01] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:01] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:01] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:01] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:01] Duplicate post wasn't found with unique key `Chrysler-1C3CCBBBXCN114372`...</div>
<div class='progress-msg'>[04:43:01] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:01] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:01] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:01] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:01] ---</div>
<div class='progress-msg'>[04:43:01] Record #43</div>
<div class='progress-msg'>[04:43:01] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:43:01] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:43:01] Combine all data for post ``...</div>
<div class='progress-msg'>[04:43:01] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:43:01] Duplicate post wasn't found with unique key `Ford-1FTEW1E52LKE51020`...</div>
<div class='progress-msg'>[04:43:01] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:43:01] <b>CREATING</b> `` `cars page`</div>
<div class='progress-msg'>[04:43:01] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:43:01] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:43:01] Cleaning temporary data...</div>
