<div class='progress-msg'>Thu, 08 Oct 2020 13:27:45 +0000</div>
<div class='progress-msg'>[13:27:45] Composing titles...</div>
<div class='progress-msg'>[13:27:45] Composing parent terms...</div>
<div class='progress-msg'>[13:27:45] Composing terms slug...</div>
<div class='progress-msg'>[13:27:45] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:27:45] Composing authors...</div>
<div class='progress-msg'>[13:27:45] Composing slugs...</div>
<div class='progress-msg'>[13:27:45] Composing menu order...</div>
<div class='progress-msg'>[13:27:45] Composing contents...</div>
<div class='progress-msg'>[13:27:45] Composing dates...</div>
<div class='progress-msg'>[13:27:45] Composing custom parameters...</div>
<div class='progress-msg'>[13:27:45] Composing URLs for images...</div>
<div class='progress-msg'>[13:27:45] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:27:45] Composing post comments...</div>
<div class='progress-msg'>[13:27:45] Composing unique keys...</div>
<div class='progress-msg'>[13:27:45] Processing posts...</div>
<div class='progress-msg'>[13:27:45] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:27:45] ---</div>
<div class='progress-msg'>[13:27:45] Record #1</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:45] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:45] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:45] Duplicate post wasn't found with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:45] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:45] <b>CREATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:45] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:45] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:45] <b>CREATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:45] ---</div>
<div class='progress-msg'>[13:27:45] Record #2</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:45] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:45] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:45] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:45] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:45] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:45] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:45] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:45] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:45] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:45] ---</div>
<div class='progress-msg'>[13:27:45] Record #3</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:45] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:45] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:45] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:45] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:45] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:45] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:45] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:45] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:45] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:45] ---</div>
<div class='progress-msg'>[13:27:45] Record #4</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:45] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:45] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:45] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:45] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:45] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:45] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:45] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:45] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:45] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:45] ---</div>
<div class='progress-msg'>[13:27:45] Record #5</div>
<div class='progress-msg'>[13:27:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:45] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:45] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:45] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:45] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:45] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:45] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:45] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:45] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:45] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:46] ---</div>
<div class='progress-msg'>[13:27:46] Record #6</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:46] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:46] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:46] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:46] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:46] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:46] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:46] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:46] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:46] ---</div>
<div class='progress-msg'>[13:27:46] Record #7</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:46] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:46] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:46] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:46] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:46] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:46] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:46] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:46] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:46] ---</div>
<div class='progress-msg'>[13:27:46] Record #8</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:46] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:46] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:46] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:46] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:46] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:46] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:46] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:46] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:46] ---</div>
<div class='progress-msg'>[13:27:46] Record #9</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:46] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:46] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:46] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:46] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:46] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:46] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:46] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:46] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:46] ---</div>
<div class='progress-msg'>[13:27:46] Record #10</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:46] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:46] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:46] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:46] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:46] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:46] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:46] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:46] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:46] ---</div>
<div class='progress-msg'>[13:27:46] Record #11</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:46] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:46] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:46] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:46] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:46] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:46] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:46] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:46] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:46] ---</div>
<div class='progress-msg'>[13:27:46] Record #12</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:46] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:46] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:46] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:46] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:46] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:46] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:46] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:46] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:46] ---</div>
<div class='progress-msg'>[13:27:46] Record #13</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:46] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:46] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:46] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:46] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:46] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:46] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:46] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:46] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:46] ---</div>
<div class='progress-msg'>[13:27:46] Record #14</div>
<div class='progress-msg'>[13:27:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:46] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:46] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:46] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:46] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:46] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:46] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:46] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:46] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:47] ---</div>
<div class='progress-msg'>[13:27:47] Record #15</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:47] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:47] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:47] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:47] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:47] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:47] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:47] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:47] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:47] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:47] ---</div>
<div class='progress-msg'>[13:27:47] Record #16</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:47] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:47] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:47] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:47] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:47] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:47] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:47] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:47] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:47] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:47] ---</div>
<div class='progress-msg'>[13:27:47] Record #17</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:47] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:47] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:47] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:47] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:47] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:47] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:47] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:47] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:47] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:47] ---</div>
<div class='progress-msg'>[13:27:47] Record #18</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:47] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:47] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:47] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:47] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:47] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:47] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:47] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:47] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:47] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:47] ---</div>
<div class='progress-msg'>[13:27:47] Record #19</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:47] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:47] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:47] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:47] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:47] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:47] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:47] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:47] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:47] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:47] ---</div>
<div class='progress-msg'>[13:27:47] Record #20</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:47] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:47] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:47] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:47] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:47] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:47] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:47] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:47] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:47] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:48] ---</div>
<div class='progress-msg'>[13:27:48] Record #21</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:48] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:48] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:48] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:48] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:48] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:48] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:48] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:48] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:48] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:48] ---</div>
<div class='progress-msg'>[13:27:48] Record #22</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:48] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:48] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:48] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:48] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:48] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:48] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:48] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:48] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:48] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:48] ---</div>
<div class='progress-msg'>[13:27:48] Record #23</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:48] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:48] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:48] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:48] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:48] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:48] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:48] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:48] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:48] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:48] ---</div>
<div class='progress-msg'>[13:27:48] Record #24</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:48] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:48] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:48] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:48] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:48] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:48] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:48] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:48] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:48] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:48] ---</div>
<div class='progress-msg'>[13:27:48] Record #25</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:48] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:48] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:48] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:48] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:48] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:48] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:48] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:48] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:48] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:48] ---</div>
<div class='progress-msg'>[13:27:48] Record #26</div>
<div class='progress-msg'>[13:27:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:48] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:48] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:48] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:48] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:48] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:48] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:48] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:49] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:49] ---</div>
<div class='progress-msg'>[13:27:49] Record #27</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:49] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:49] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:49] ---</div>
<div class='progress-msg'>[13:27:49] Record #28</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:49] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:49] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:49] ---</div>
<div class='progress-msg'>[13:27:49] Record #29</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:49] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:49] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:49] ---</div>
<div class='progress-msg'>[13:27:49] Record #30</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:49] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:49] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:49] ---</div>
<div class='progress-msg'>[13:27:49] Record #31</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:49] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:49] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:49] ---</div>
<div class='progress-msg'>[13:27:49] Record #32</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:49] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:49] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:49] ---</div>
<div class='progress-msg'>[13:27:49] Record #33</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:49] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:49] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:49] ---</div>
<div class='progress-msg'>[13:27:49] Record #34</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:49] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:49] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:49] ---</div>
<div class='progress-msg'>[13:27:49] Record #35</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:49] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:49] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:49] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:49] ---</div>
<div class='progress-msg'>[13:27:49] Record #36</div>
<div class='progress-msg'>[13:27:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:49] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:49] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:49] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:49] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:49] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:49] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:50] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:50] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:50] ---</div>
<div class='progress-msg'>[13:27:50] Record #37</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:50] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:50] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:50] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:50] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:50] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:50] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:50] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:50] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:50] ---</div>
<div class='progress-msg'>[13:27:50] Record #38</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:50] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:50] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:50] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:50] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:50] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:50] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:50] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:50] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:50] ---</div>
<div class='progress-msg'>[13:27:50] Record #39</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:50] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:50] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:50] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:50] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:50] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:50] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:50] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:50] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:50] ---</div>
<div class='progress-msg'>[13:27:50] Record #40</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:50] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:50] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:50] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:50] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:50] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:50] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:50] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:50] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:50] ---</div>
<div class='progress-msg'>[13:27:50] Record #41</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:50] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:50] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:50] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:50] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:50] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:50] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:50] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:50] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:50] ---</div>
<div class='progress-msg'>[13:27:50] Record #42</div>
<div class='progress-msg'>[13:27:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:50] Combine all data for term Chrysler...</div>
<div class='progress-msg'>[13:27:50] Find corresponding article among previously imported for post `Chrysler`...</div>
<div class='progress-msg'>[13:27:50] Duplicate post wasn't found with unique key `Chrysler`...</div>
<div class='progress-msg'>[13:27:50] Applying filter `pmxi_article_data` for `Chrysler`</div>
<div class='progress-msg'>[13:27:50] <b>CREATING</b> `Chrysler` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:50] Associate post `Chrysler` with current import ...</div>
<div class='progress-msg'>[13:27:51] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:51] <b>CREATED</b> `Chrysler` `Taxonomy Term` (ID: 34)</div>
<div class='progress-msg'>[13:27:51] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:51] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:51] ---</div>
<div class='progress-msg'>[13:27:51] Record #43</div>
<div class='progress-msg'>[13:27:51] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:51] Combine all data for term Ford...</div>
<div class='progress-msg'>[13:27:51] Find corresponding article among previously imported for post `Ford`...</div>
<div class='progress-msg'>[13:27:51] Duplicate post was found for post Ford with unique key `Ford`...</div>
<div class='progress-msg'>[13:27:51] Deleting images for `Ford`</div>
<div class='progress-msg'>[13:27:51] Applying filter `pmxi_article_data` for `Ford`</div>
<div class='progress-msg'>[13:27:51] <b>UPDATING</b> `Ford` `Taxonomy Term`</div>
<div class='progress-msg'>[13:27:51] Associate post `Ford` with current import ...</div>
<div class='progress-msg'>[13:27:51] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:51] <b>UPDATED</b> `Ford` `Taxonomy Term` (ID: 33)</div>
<div class='progress-msg'>[13:27:51] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:51] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:51] Cleaning temporary data...</div>
